version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "11:00"
    open-pull-requests-limit: 99
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "11:00"
    open-pull-requests-limit: 99
  - package-ecosystem: gitsubmodule
    directory: "/"
    schedule:
      interval: daily
      time: "11:00"
    open-pull-requests-limit: 99
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: daily
      time: "11:00"
    open-pull-requests-limit: 99
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: daily
      time: "11:00"
    open-pull-requests-limit: 99
