---
permalink: /404.html
---
{% assign dataVariable = site.playbookData["en"] %}{% 
assign dataSourceEn = site.data[dataVariable] %}{% 
assign dataVariable = site.playbookData["fr"] %}{% 
assign dataSourceFr = site.data[dataVariable] %}
<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>We couldn&#x27;t find that Web page (Error 404) - {{ dataSourceEn.title }} / Nous ne pouvons trouver cette page Web (Erreur 404) - {{ dataSourceFr.title }}</title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<!-- Meta data -->
<meta name="robots" content="noindex, nofollow, noarchive">
<!-- Meta data-->
<!--[if gte IE 9 | !IE ]><!-->
<link href="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/assets/favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/css/theme-srv.min.css">
<!--<![endif]-->
<!--[if lt IE 9]>
<link href="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/assets/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/css/ie8-theme-srv.min.css" />
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/ie8-wet-boew.min.js"></script>
<![endif]-->
<noscript><link rel="stylesheet" href="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/css/noscript.min.css" /></noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
<header role="banner" id="wb-bnr" class="container">
<div class="row">
<div class="col-sm-6">
<img id="gcwu-sig" src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/assets/sig-blk-en.svg" alt="Government of Canada / Gouvernement du Canada">
</div>
<div class="col-sm-6">
<img id="wmms" src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
</div>
</div>
</header>
<main role="main" property="mainContentOfPage" class="container">
<div class="row mrgn-tp-lg">
<h1 class="wb-inv">We couldn't find that Web page (Error 404) / <span lang="fr">Nous ne pouvons trouver cette page Web (Erreur 404)</span></h1>
<section class="col-md-6">
<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> We couldn't find that Web page (Error 404)</h2>
<p>We're sorry you ended up here. Sometimes a page gets moved or deleted, but hopefully we can help you find what you're looking for.</p>
{% assign standardIndex = 0 %}
<p>Return to:</p>
<ul>
<li><a href="{{ site.baseurl }}/en/{{ site.overviewFile['en'] }}{{ site.RenderedFileExtension }}">{{ dataSourceEn.introduction.title }}</a></li>
{% for standard in dataSourceEn.standards.content 
  %}<li><a href="{{ site.baseurl }}/en/{{ site.standardFile[standardIndex]['en'] }}{{ site.RenderedFileExtension }}">{{ standard.title }}</a></li>{% 
  assign standardIndex = standardIndex | plus: 1 %}{% 
endfor %}</ul>

{% include views-vues.html lang="en" %}
</section>
<section class="col-md-6" lang="fr">
<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Nous ne pouvons trouver cette page Web (Erreur 404)</h2>
<p>Nous sommes désolés que vous ayez abouti ici. Il arrive parfois qu'une page ait été déplacée ou supprimée. Heureusement, nous pouvons vous aider à trouver ce que vous cherchez.</p>
{% assign standardIndex = 0 %}
<p>Retournez à :</p>
<ul>
<li><a href="{{ site.baseurl }}/en/{{ site.overviewFile['en'] }}{{ site.RenderedFileExtension }}">{{ dataSourceFr.introduction.title }}</a></li>
{% for standard in dataSourceFr.standards.content 
  %}<li><a href="{{ site.baseurl }}/fr/{{ site.standardFile[standardIndex]['fr'] }}{{ site.RenderedFileExtension }}">{{ standard.title }}</a></li>{% 
  assign standardIndex = standardIndex | plus: 1 %}{% 
endfor %}</ul>

{% include views-vues.html lang="fr" %}
</section>
</div>
</main>
<!--[if gte IE 9 | !IE ]><!-->
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/theme.min.js"></script>
</body>
</html>
