<section>

<div class="wb-inview" data-inview="progress-overlay">
<h2>{{ aiaDataSource.intro.subSection1Heading[ page.lang ] }}</h2>
</div>

<p>{{ aiaDataSource.intro.subSection1Text[ page.lang ] }}</p>

</section>

<section>

<div class="alert alert-info" id="alert-notice">
<p>{{ aiaDataSource.intro.notice[ page.lang ] }}</p>
</div>

</section>

<section>

<h2>{{ aiaDataSource.intro.subSection2Heading[ page.lang ] }}</h2>

<p>{{ aiaDataSource.intro.subSection2TextPart1[ page.lang ] }} <strong>{{ aiaDataSource.intro.subSection2TextPart2[ page.lang ] }}</strong></p>

</section>

<section>

<h2>{{ aiaDataSource.intro.subSection3Heading[ page.lang ] }}</h2>

<p>{{ aiaDataSource.intro.subSection3Text[ page.lang ] }}</p>

</section>

<section>

<h2>{{ aiaDataSource.intro.subSection4Heading[ page.lang ] }}</h2>

<p>{{ aiaDataSource.intro.subSection4Text[ page.lang ] }}</p>

</section>

<section>

<h2>{{ aiaDataSource.intro.subSection5Heading[ page.lang ] }}</h2>

<p>{{ aiaDataSource.intro.subSection5Text[ page.lang ] }}</p>

</section>
