{% comment %}@overview Generates a simple yes/no question with optional na{% endcomment %}{% 
comment %}@param questionNumber {String} Number of the question or sub-question (e.g., "4.1").{% endcomment %}{%
comment %}@param questionDisplayNumber {String} (Optional, defaults to the value for questionNumber) Number to display for the question or sub-question if it is different than questionNumber (in the case where the question string to retrieve is different than the question number to display).{% endcomment %}{%
comment %}@param includeNotApplicable {Boolean} (Optional, defaults to false) Whether or not to include a Not applicable option.{% endcomment %}{%
comment %}@param includeUnsure {Boolean} (Optional, defaults to false) Whether or not to include an Unsure option.{% endcomment %}{%
comment %}@return {String} Generated question.{% endcomment %}{% 
if include.questionDisplayNumber %}{%
  assign questionDisplayNumber = include.questionDisplayNumber %}{%
else %}{%
  assign questionDisplayNumber = include.questionNumber %}{%
endif %}{%
assign questionId = include.questionNumber | replace: ".", "-"
%}<!-- Question {{ questionDisplayNumber }} -->
<div id="question-{{ questionId }}" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "inline": true, "noForm": true, "base": { "live": true } }'>
<p>{{ questionDisplayNumber }}{% unless include.questionNumber contains "." %}.{% endunless %} {{ aiaDataSource.questions[ include.questionNumber ][ page.lang ] }}<span class="field-name hidden">{{ site.Question[ page.lang ] }} {{ questionDisplayNumber }}</span></p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-{{ questionId }}-yes", "class": "hidden" },
  { "action": "addClass", "source": ".question-{{ questionId }}-no{% if include.includeNotApplicable == true %}, .question-{{ questionId }}-na{% endif %}{% if include.includeUnsure == true %}, .question-{{ questionId }}-unsure{% endif %}", "class": "hidden" }
]'>{{ site.Yes[ page.lang ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-{{ questionId }}-no", "class": "hidden" },
  { "action": "addClass", "source": ".question-{{ questionId }}-yes{% if include.includeNotApplicable == true %}, .question-{{ questionId }}-na{% endif %}{% if include.includeUnsure == true %}, .question-{{ questionId }}-unsure{% endif %}", "class": "hidden" }
]'>{{ site.No[ page.lang ] }}</li>{%
if include.includeNotApplicable == true %}
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-{{ questionId }}-na", "class": "hidden" },
  { "action": "addClass", "source": ".question-{{ questionId }}-yes, .question-{{ questionId }}-no{% if include.includeUnsure == true %}, .question-{{ questionId }}-unsure{% endif %}", "class": "hidden" }
]'>{{ site.NotApplicable[ page.lang ] }}</li>{%
endif %}{%
if include.includeUnsure == true %}
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-{{ questionId }}-unsure", "class": "hidden" },
  { "action": "addClass", "source": ".question-{{ questionId }}-yes, .question-{{ questionId }}-no{% if include.includeNotApplicable == true %}, .question-{{ questionId }}-na{% endif %}", "class": "hidden" }
]'>{{ site.Unsure[ page.lang ] }}</li>{%
endif %}
</ul>
</div>
