<!--Results-->
<section id="section-results">
<link rel="stylesheet" href="{{ site.baseurl }}/views-vues/assurance-level-requirement/resultTable.css" type="text/css"/>

<h2>{{ site.Results[ page.lang ] }}</h2>

<!-- Details Table -->
<div id="table-results" class="table-results">

<table class="table-results-details table-results">
  <tr>
  {% assign rowNumber = 1 %}
  <th id="r{{ rowNumber }}h1">{{ page.detail["1"] }}</th>
  <td><span id="D1"></span></td>
  <th id="r{{ rowNumber }}h3">{{ page.detail["2"] }}</th>
  <td><span id="D2"></span></td>
  </tr>
  <tr>
  {% assign rowNumber = rowNumber | plus: 1 %}
  <th id="r{{ rowNumber }}h1">{{ page.detail["3"] }}</th>
  <td><span id="D3"></span></td>
  <th id="r{{ rowNumber }}h3">{{ page.detail["4"] }}</th>
  <td><span id="D4">{{ "now" | date: "%Y-%m-%d" }}</span></td>
  </tr>
</table>

<!-- Results table -->
<table class="table-striped-results table-results">
<thead>
  {% assign rowNumber = rowNumber | plus: 1 %}
  {% assign headerRowNumber = rowNumber %}
  <th id="r{{ headerRowNumber }}h1" style="width: 30%;"">{{ site.Criteria[ page.lang ] }}</th>
  <th id="r{{ headerRowNumber }}h2" style="width: 10%;">{{ page.level }}</th>
  <th id="r{{ headerRowNumber }}h3" style="width: 30%;">{{ page.assessment }}</th>
  <th id="r{{ headerRowNumber }}h4" style="width: 30%;">{{ page.rational }}</th>
  </tr>
</thead>
<tbody>
<!-- Body Rows -->
<tr>
{% for questionNumber in (1..8) %}{%
  assign questionNumberString = questionNumber | downcase %}{%
  assign questionString = page.questions[ questionNumberString ] %}{%
  assign rowNumber = rowNumber | plus: 1
%}<tr class="question-{{ questionNumber }}-ele question-row">
<th headers="r1h1" id="r{{ rowNumber }}h1">{{ questionNumberString }}. {{ questionString }}</th>
<td style="text-align: center; font-size: 30px;" class="Q{{ questionNumber }}-level">
  {% for level in (0..4) %}
  <span id="Q{{ questionNumber }}-L{{ level }}" class="hidden assurance-level-element"> {{ level }}</span>
  {% endfor %}
  <span id="Q{{ questionNumber }}-LNA"> N/A</span>
</td>
<td class="Q{{ questionNumber }}-assessment">
  {% for level in (0..4) %}{%
    assign assesmentString = questionNumberString | append: "-a" | append: level
  %}<span id="Q{{ questionNumber }}-A{{ level }}" class="hidden">{{ page.questions[assesmentString] }}</span>{%
  endfor %}
  <span id="Q{{ questionNumber }}-ANA" class="hidden"></span>
</td>
<td><span id="Q{{ questionNumber }}-rational"></span></td>
</tr>{%
endfor %}

<!-- Summary row -->
<tr style="border: solid; border-width: 2px; font-size: 30px;">
<th headers="r{{ headerRowNumber }}h1" id="r{{ rowNumber }}h1">{{ page.overallAssessment }}</th>
<td headers="r{{ headerRowNumber }}h2" id="r{{ rowNumber }}h2" style="text-align: center; font-size: 30px;" class="wb-calculate" data-wb-calculate='{ "onInit": true, "eventTrigger": "removeClass.action.wb-fieldflow", "operations": [
    { "type": "max", "query": ".question-row:not(.hidden) .assurance-level-element:not(.hidden)", "outputTarget": "#max-assurance-level-used" }]}'>
  <span id="max-assurance-level-used">0</span>
</td>
<td></td>
<td></td>
</tr>

</tbody>
</table>
</div>

<button type="button" class="btn btn-default" onclick="javascript:PrintElem($( '#table-results' ), 'LOA Assessment - ' + $(D3).text() + ' - ' + $(D2).text());">Download as PDF</button>
<button type="button" class="btn btn-default wb-format-gen" data-wb-format-gen='{ "type": "csv", "rowSelector": "tr:not(.hidden)", "colSelector": "th, td span:not(.hidden), .non-scoring-result td", "container": "#table-results", "filename": "assurance-level-assessment" }'>{{ site.DownloadCSV[page.lang] }}</button>
<button type="button" class="btn btn-default">Sent to TBS (TODO)</button>

<script language="javascript" type="text/javascript">

  //Button 2
  function PrintElem(elem, title, offset)
{
    // Title constructor
    title = title || $('title').text();
    // Offset for the print
    offset = offset || 0;

    // Loading start
    var dStart = Math.round(new Date().getTime()/1000),
        $html = $('html');
        i = 0;

    // Start building HTML
    var HTML = '<html';

    if(typeof ($html.attr('lang')) !== 'undefined') {
        HTML+=' lang=' + $html.attr('lang');
    }

    if(typeof ($html.attr('id')) !== 'undefined') {
        HTML+=' id=' + $html.attr('id');
    }

    if(typeof ($html.attr('xmlns')) !== 'undefined') {
        HTML+=' xmlns=' + $html.attr('xmlns');
    }

    // Close HTML and start build HEAD
    HTML+='><head>';

    // Get all meta tags
    $('head > meta').each(function(){
        var $this = $(this),
            $meta = '<meta';

        if(typeof ($this.attr('charset')) !== 'undefined') {
            $meta+=' charset=' + $this.attr('charset');
        }

        if(typeof ($this.attr('name')) !== 'undefined') {
            $meta+=' name=' + $this.attr('name');
        }

        if(typeof ($this.attr('http-equiv')) !== 'undefined') {
            $meta+=' http-equiv=' + $this.attr('http-equiv');
        }

        if(typeof ($this.attr('content')) !== 'undefined') {
            $meta+=' content=' + $this.attr('content');
        }

        $meta+=' />';

        HTML+= $meta;
        i++;

    }).promise().done(function(){

        // Insert title
        HTML+= '<title>' + title  + '</title>';

        // Let's pickup all CSS files for the formatting
        $('head > link[rel="stylesheet"]').each(function(){
            HTML+= '<link rel="stylesheet" href="' + $(this).attr('href') + '" />';
            i++;
        }).promise().done(function(){
            // Print setup
            HTML+= '<link rel="stylesheet" href="{{ site.baseurl }}/views-vues/assurance-level-requirement/resultTable.css" type="text/css"/>';

            // Finish HTML
            HTML+= '</head><body>';
            HTML+= '<h1 class="text-center mb-3">' + title  + '</h1>';
            HTML+= elem.html();
            HTML+= '</body></html>';

            // Open new window
            var printWindow = window.open('', 'PRINT', 'height=' + $(window).height() + ',width=' + $(window).width());
            // Append new window HTML
            printWindow.document.write(HTML);

            printWindow.document.close(); // necessary for IE >= 10
            printWindow.focus(); // necessary for IE >= 10*/
            console.log(printWindow.document);
            /* Make sure that page is loaded correctly */
            $(printWindow).on('load', function(){
                setTimeout(function(){
                    // Open print
                    printWindow.print();

                    // Close on print
                    setTimeout(function(){
                        //printWindow.close();
                        return true;
                    }, 3);

                }, (Math.round(new Date().getTime()/1000) - dStart)+i+offset);
            });
        });
    });
}
</script>


</section>
