<!--Results-->
<section id="section-results">
<link rel="stylesheet" href="{{ site.baseurl }}/views-vues/assurance-level-requirement/resultTable.css" type="text/css"/>

<h2>{{ site.Results[ page.lang ] }}</h2>

<!-- Details Table -->
<div id="table-results-div" class="table-results">

<table class="table-results-details table-results">
  <!-- Row One -->
  <tr>
  <th id='header-{{ page.detail["1"] }}'>{{ page.detail["1"] }}</th>
  <td header='header-{{ page.detail["1"] }}'><span id="table-detail-1"></span></td>
  <th id='header-{{ page.detail["2"] }}'>{{ page.detail["2"] }}</th>
  <td header='header-{{ page.detail["2"] }}'><span id="table-detail-2"></span></td>
  </tr>
  <!-- Row Two -->
  <tr>
  <th id='header-{{ page.detail["3"] }}'>{{ page.detail["3"] }}</th>
  <td header='header-{{ page.detail["3"] }}'><span id="table-detail-3"></span></td>
  <th id='header-{{ page.detail["4"] }}'>{{ page.detail["4"] }}</th>
  <td header='header-{{ page.detail["4"] }}'><span id="table-detail-4" class="date-current"></span></td>
  </tr>
</table>

<!-- Results table -->
<table class="table-striped-results table-results">
<thead>
  {% assign rowNumber = rowNumber | plus: 1 %}
  {% assign headerRowNumber = rowNumber %}
  <th style="width: 23%;"">{{ site.Criteria[ page.lang ] }}</th>
  <th style="width: 08%;">{{ page.level }}</th>
  <th style="width: 23%;">{{ page.assessment }}</th>
  <th style="width: 23%;">{{ page.potentialHarm }}</th>
  <th style="width: 23%;">{{ page.rationale }}</th>
  </tr>
</thead>
<tbody>
<!-- Body Rows -->
<tr>
{% for question in (1..8) %}{%
  assign questionNumber = question | downcase %}{%
  assign questionString = page.questions[ questionNumber ] %}{%
  assign rowNumber = rowNumber | plus: 1
%}<tr>
  <!-- Header -->
<th>{{ questionNumber }}. {{ questionString }}</th>
  <!-- Assurance Numbers -->
<td style="text-align: center; font-size: 30px;" class="table-question-{{ question }}-level">
  {% for level in (1..4) %}
  <span id="table-question-{{ question }}-level-{{ level }}" class="hidden assurance-level-element"> {{ level }}</span>
  {% endfor %}
  <span id="table-question-{{ question }}-level-NA"> N/A</span>
</td>
  <!-- Assessment Strings -->
<td class="table-question-{{ question }}-assessment">
  {% for level in (1..4) %}{%
    assign assesmentString = questionNumber | append: "-a" | append: level
  %}<span id="table-question-{{ question }}-assessment-{{ level }}" class="hidden">{{ page.questions[assesmentString] }}</span>{%
  endfor %}
  <span id="table-question-{{ question }}-assessment-NA" class="hidden"></span>
  <!-- Harm Strings -->
<td class="table-question-{{ question }}-harm">
  {% for level in (1..4) %}{%
    assign harmString = questionNumber | append: "-hint-a" | append: level %}{%
    assign harmString = page.questions[harmString] | remove_first: "• " | replace: " • ", "</li><li>" | prepend: "<ul><li>" | append: "</li></ul>" }}
  %}<span id="table-question-{{ question }}-harm-{{ level }}" class="hidden">{{ harmString }}</span>{%
  endfor %}
  <span id="table-question-{{ question }}-harm-NA" class="hidden"></span>
</td>
  <!-- Rationale -->
<td><span id="table-question-{{ question }}-rationale"></span></td>
</tr>{%
endfor %}

<!-- Summary row -->
<tr style="border: solid; border-width: 2px; font-size: 30px;">
<th id="header-summary">{{ page.overallAssessment }}</th>
<td headers="header-summary" id="r{{ rowNumber }}h2" style="text-align: center; font-size: 30px;" class="wb-calculate" data-wb-calculate='{ "onInit": true, "eventTrigger": "removeClass.action.wb-fieldflow", "operations": [
    { "type": "max", "query": ".assurance-level-element:not(.hidden), #min-assurance-level", "outputTarget": "#max-assurance-level-used" }]}'>
  <span id="min-assurance-level" class="hidden">1</span>
  <span id="max-assurance-level-used">1</span>
</td>
<td headers="header-summary" colspan="3" style="font-size: 20px;">
  {% for level in (1..4) %}{%
    assign assuranceLevel = level | downcase %}
    <span id="assurance-{{ level }}-table" class="wb-calculate {% if level > 1 %} hidden {% endif %}" data-wb-calculate='{ "eventTrigger": "removeClass.action.wb-fieldflow", "operations": [
          { "type": "conditional", "inputs": [
            { "type": "=", "inputs": [
              { "type": "number", "query": "#max-assurance-level-used" },
              {{ level }}
            ] }
        ], "actionsTrue": [
          { "type": "removeClass", "outputTarget": "#assurance-{{ level }}-table", "class": "hidden" }
        ], "actionsFalse": [
          { "type": "addClass", "outputTarget": "#assurance-{{ level }}-table", "class": "hidden" }
        ] }
      ] }'>
     {{ page.assurance[ assuranceLevel ] }}
    </span>{%
  endfor %}
  <span id="assurance-NA-table" class="hidden"></span>
</td>
</tr>
<tr>
  <td colspan="5" style="text-align: center"> {{ page.version }} </td>
</tr>
</tbody>
</table>
</div>

<button type="button" class="btn btn-default" onclick="javascript:PrintElem($( '#table-results-div' ), 'LOA Assessment - ' + $('table-detail-3').text() + ' - ' + $('table-detail-2').text());">Print / Download PDF</button>
<button type="button" class="btn btn-default wb-format-gen" data-wb-format-gen='{ "type": "csv", "rowSelector": "tr:not(.hidden)", "colSelector": "th, td span:not(.hidden), .non-scoring-result td", "container": "#table-results-div", "filename": "assurance-level-assessment" }'>{{ site.DownloadCSV[page.lang] }}</button>

<script language="javascript" type="text/javascript">
  function PrintElem(elem, title, offset)
{
    // Title constructor
    title = title || $('title').text();
    // Offset for the print
    offset = offset || 0;

    // Loading start
    var dStart = Math.round(new Date().getTime()/1000),
        $html = $('html');
        i = 0;

    // Start building HTML
    var HTML = '<html';

    if(typeof ($html.attr('lang')) !== 'undefined') {
        HTML+=' lang=' + $html.attr('lang');
    }

    if(typeof ($html.attr('id')) !== 'undefined') {
        HTML+=' id=' + $html.attr('id');
    }

    if(typeof ($html.attr('xmlns')) !== 'undefined') {
        HTML+=' xmlns=' + $html.attr('xmlns');
    }

    // Close HTML and start build HEAD
    HTML+='><head>';

    // Get all meta tags
    $('head > meta').each(function(){
        var $this = $(this),
            $meta = '<meta';

        if(typeof ($this.attr('charset')) !== 'undefined') {
            $meta+=' charset=' + $this.attr('charset');
        }
        if(typeof ($this.attr('name')) !== 'undefined') {
            $meta+=' name=' + $this.attr('name');
        }
        if(typeof ($this.attr('http-equiv')) !== 'undefined') {
            $meta+=' http-equiv=' + $this.attr('http-equiv');
        }
        if(typeof ($this.attr('content')) !== 'undefined') {
            $meta+=' content=' + $this.attr('content');
        }

        $meta+=' />';
        HTML+= $meta;
        i++;
    }).promise().done(function(){

        // Insert title
        HTML+= '<title>' + title  + '</title>';

        // Let's pickup all CSS files for the formatting
        $('head > link[rel="stylesheet"]').each(function(){
            HTML+= '<link rel="stylesheet" href="' + $(this).attr('href') + '" />';
            i++;
        }).promise().done(function(){
            // Print setup
            HTML+= '<link rel="stylesheet" href="{{ site.baseurl }}/views-vues/assurance-level-requirement/resultTable.css" type="text/css"/>';

            // Finish HTML
            HTML+= '</head><body>';
            HTML+= '<h1 class="text-center mb-3">' + title  + '</h1>';
            HTML+= elem.html();
            HTML+= '</body></html>';

            // Open new window
            var printWindow = window.open('', 'PRINT', 'height=' + $(window).height() + ',width=' + $(window).width());
            // Append new window HTML
            printWindow.document.write(HTML);

            printWindow.document.close(); // necessary for IE >= 10
            printWindow.focus(); // necessary for IE >= 10*/
            console.log(printWindow.document);
            /* Make sure that page is loaded correctly */
            $(printWindow).on('load', function(){
                setTimeout(function(){
                    // Open print
                    printWindow.print();

                    // Close on print
                    setTimeout(function(){
                        printWindow.close();
                        return true;
                    }, 3);

                }, (Math.round(new Date().getTime()/1000) - dStart)+i+offset);
            });
        });
    });
}
</script>

</section>
