<div id="right-cloud-relevancies" class="wb-frmvld">
<form method="post" action="#">

  <h2>{{ page.demographicTitle }}:</h2>
  {% for demographic in (1..4) %}{%
    assign demographicNumberString = demographic | downcase %}
  <div>
  <label for="demographic-{{ demographic }}" style="display:block;">{{ page.demographic[ demographicNumberString ] }}:</label>
  <input id="demographic-{{ demographic }}" type="text" class="wb-calculate" data-wb-calculate='{ "eventTrigger": "change", "eventElement": "#demographic-{{ demographic }}", "operations": [
    { "type": "action",
      "inputs": [
        { "type": "outputValue", "outputTarget": "#D{{ demographic }}", "operations": [
          { "type": "string", "query": "#demographic-{{ demographic }}", "sourceAttribute": "value" }
        ] }
      ]
    }
  ] }'></input>
  </div>
{% endfor %}

<h2>{{ page.relevenciesTitle }}:</h2>
{% for question in (1..8) %}{%
  assign questionNumberString = question | downcase %}
<!-- Question {{ question }} relavance -->
<div id="question-{{ question }}-relevant" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "inline": true, "noForm": true, "base": { "live": true }, "isoptional": true }'>
<p>{{ page.questions[ questionNumberString ] }} </p>
<ul>
  <li data-wb-fieldflow='{ "action": "removeClass", "source": ".question-{{ question }}-ele", "class": "hidden", "attributes": { "class": "pre-selected" }}'>{{ page.relevant }}</li>
  <li data-wb-fieldflow='{ "action": "addClass", "source": ".question-{{ question }}-ele", "class": "hidden" }'>{{ page.unrelevant }}</li>
</ul>
</div>
{% endfor %}

</form>
</div>
