<section id="section-details">
<div id="assurance-level-details" class="wb-frmvld">
<form method="post" action="#">

  <h2>{{ page.detailTitle }}:</h2>
  {% for detail in (1..4) %}{%
    assign detailNumberString = detail | downcase %}
    {% if detail == 4 %}
    {% assign initialValue = "now" | date: "%Y-%m-%d" %}
    {% else %}
    {% assign initialValue = "" %}
    {% endif %}

  <div>
  <label for="question-detail-{{ detail }}" style="display:block;">{{ page.detail[ detailNumberString ] }}:</label>

  {% if detail == 3 %}
  <select id="question-detail-{{ detail }}" class="wb-calculate" data-wb-calculate='{ "eventTrigger": "change", "eventElement": "#question-detail-{{ detail }}", "operations": [
    { "type": "action",
      "inputs": [
        { "type": "outputValue", "outputTarget": "#table-detail-{{ detail }}", "operations": [
          { "type": "string", "query": "#question-detail-{{ detail }}", "sourceAttribute": "value" }
        ] }
      ]
    }
  ] }'>
  <option value="">{{ aiaDataSource.questions[ subLabel ][ page.lang ] }}</option>
  <option value="{{ page.other }}">{{ page.other }}</option>{%
  assign departmentNames = site.data.departments | sort: page.lang %}{%
  for department in departmentNames %}
  <option value="{{ department[ page.lang ] }}">{{ department[ page.lang ] }}</option>{%
  endfor %}
  </select>

  {% else %}
  <input id="question-detail-{{ detail }}" type="text" size="85" class="wb-calculate" value='{{ initialValue }}' data-wb-calculate='{ "eventTrigger": "change", "eventElement": "#question-detail-{{ detail }}", "operations": [
    { "type": "action",
      "inputs": [
        { "type": "outputValue", "outputTarget": "#table-detail-{{ detail }}", "operations": [
          { "type": "string", "query": "#question-detail-{{ detail }}", "sourceAttribute": "value" }
        ] }
      ]
    }
  ] }'>
  </input>
  {% endif %}
  </div>
{% endfor %}

</form>
</div>
</section>
