{% assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
assign standard = dataSource.standards.content.first %}{% 
assign guideline = standard.guidelines.content.first %}
<section id="filter-panel" class="wb-overlay modal-content overlay-def wb-panel-r">
<header class="modal-header">
  <h2 class="modal-title">{{ site.Filters[page.lang] }}</h2>
</header>
<div class="modal-body">
<form action="#" method="post" class="wb-contentfilter">
<fieldset>
  <legend>{{ site.ContentDetails[page.lang] }}</legend>
  <div class="btn-group mrgn-bttm-md">
    <button type="button" class="btn btn-default wb-toggle" data-toggle='{"selector": ".dpgn-content-details", "type": "on", "stateOn": "show", "stateOff": "hide"}'>{{ site.Show[page.lang] }}</button>
    <button type="button" class="btn btn-default wb-toggle" data-toggle='{"selector": ".dpgn-content-details", "type": "off", "stateOn": "show", "stateOff": "hide"}'>{{ site.Hide[page.lang] }}</button>
  </div>
</fieldset>

<fieldset>
  <legend>{{ site.DevelopmentStage[page.lang] }}</legend>
  <ul class="list-unstyled">
    <li><input type="checkbox" id="dpgn-stage-alpha" /> <label for="dpgn-stage-alpha">{{ site.Alpha[page.lang] }}</label></li>
    <li><input type="checkbox" id="dpgn-stage-beta" /> <label for="dpgn-stage-beta">{{ site.Beta[page.lang] }}</label></li>
    <li><input type="checkbox" id="dpgn-stage-live" /> <label for="dpgn-stage-live">{{ site.Live[page.lang] }}</label></li>
  </ul>
</fieldset>

<fieldset>
  <legend>{{ site.SectionType[page.lang] }}</legend>
  <ul class="list-unstyled">
    <li><input type="checkbox" id="dpgn-section-intro-standard" /> <label for="dpgn-section-intro-standard">{{ site.Introduction[page.lang] }} ({{ site.ForAStandard[page.lang] }})</label></li>
    <li><input type="checkbox" id="dpgn-section-guidelines" /> <label for="dpgn-section-guidelines">{{ standard.guidelines.title }} ({{ site.List[page.lang] }} {{ site.ForAStandard[page.lang] }})</label></li>
    <li><input type="checkbox" id="dpgn-section-guidelines-related" /> <label for="dpgn-section-guidelines-related">{{ standard.relatedguidelines.title }} ({{ site.List[page.lang] }} {{ site.ForAStandard[page.lang] }})</label></li>
    <li><input type="checkbox" id="dpgn-section-guideline" /> <label for="dpgn-section-guideline">{{ site.Guideline[page.lang] }} ({{ site.ForAStandard[page.lang] }})</label>
      <ul class="lst-none">
        <li><input type="checkbox" id="dpgn-section-intro-guideline" /> <label for="dpgn-section-intro-guideline">{{ site.Introduction[page.lang] }} ({{ site.ForAGuideline[page.lang] }})</label>
        <li><input type="checkbox" id="dpgn-section-checklist" /> <label for="dpgn-section-checklist">{{ guideline.checklist.title }} ({{ site.ForAGuideline[page.lang] }})</label>
        <li><input type="checkbox" id="dpgn-section-guides" /> <label for="dpgn-section-guides">{{ guideline.guides.title }} ({{ site.ForAGuideline[page.lang] }})</label>
        <li><input type="checkbox" id="dpgn-section-solutions" /> <label for="dpgn-section-solutions">{{ guideline.solutions.title }} ({{ site.ForAGuideline[page.lang] }})</label>
        <li><input type="checkbox" id="dpgn-section-similar" /> <label for="dpgn-section-similar">{{ guideline.similar.title }} ({{ site.ForAGuideline[page.lang] }})</label>
      </ul>
    </li>
  </ul>
</fieldset>
<fieldset class="dpgn-exclusive-filters">
  <legend>{{ site.ExclusiveFilters[page.lang] }}</legend>
  <ul class="list-unstyled">
    <li><input type="checkbox" id="dpgn-digital-architectural" /> <label for="dpgn-digital-architectural">{{ site.DigitalArchitectural[page.lang] }}</label></li>
  </ul>
</fieldset>
<hr />
<div><input type="checkbox" id="filters-remember" /> <label for="filters-remember">{{ site.RememberFilters:[page.lang] }}</label></div>
<input type="button" value="{{ site.ApplyFilters[page.lang] }}" class="btn btn-primary contentfilter-button" />
</form>
</div>
</section>
