<p><a href="#filter-panel" aria-controls="filter-panel" class="overlay-lnk pull-right" role="button">{{ site.ShowFilters[page.lang] }}</a></p>

<section id="filter-panel" class="wb-overlay modal-content overlay-def wb-panel-r">
<header class="modal-header">
  <h2 class="modal=title">{{ site.Filters[page.lang] }}</h2>
</header>
<div class="modal-body">
<form action="#" method="post" id="dpgn-filter-form">
<fieldset>
  <legend>{{ site.ProjectPhase[page.lang] }}</legend>
  <ul class="list-unstyled">
    <li><input type="checkbox" id="dpgn-phase-alpha" /> <label for="dpgn-phase-alpha">{{ site.Alpha[page.lang] }}</label></li>
    <li><input type="checkbox" id="dpgn-phase-beta" /> <label for="dpgn-phase-beta">{{ site.Beta[page.lang] }}</label></li>
    <li><input type="checkbox" id="dpgn-phase-live" /> <label for="dpgn-phase-live">{{ site.Live[page.lang] }}</label></li>
  </ul>
</fieldset>
<fieldset>
  <legend>{{ site.SectionType[page.lang] }}</legend>
  <ul class="list-unstyled">
    <li><input type="checkbox" id="dpgn-section-intro-standard" /> <label for="dpgn-section-intro-standard">{{ site.Introduction[page.lang] }} ({{ site.ForAStandard[page.lang] }})</label></li>
    <li><input type="checkbox" id="dpgn-section-guidelines" /> <label for="dpgn-section-guidelines">{{ site.Guidelines[page.lang] }} ({{ site.List[page.lang] }} {{ site.ForAStandard[page.lang] }})</label></li>
    <li><input type="checkbox" id="dpgn-section-guidelines-related" /> <label for="dpgn-section-guidelines-related">{{ site.RelatedGuidelines[page.lang] }} ({{ site.List[page.lang] }} {{ site.ForAStandard[page.lang] }})</label></li>
    <li><input type="checkbox" id="dpgn-section-guideline" /> <label for="dpgn-section-guideline">{{ site.Guideline[page.lang] }} ({{ site.ForAStandard[page.lang] }})</label>
      <ul class="lst-none">
        <li><input type="checkbox" id="dpgn-section-intro-guideline" /> <label for="dpgn-section-intro-guideline">{{ site.Introduction[page.lang] }} ({{ site.ForAGuideline[page.lang] }})</label>
        <li><input type="checkbox" id="dpgn-section-checklist" /> <label for="dpgn-section-checklist">{{ site.Checklist[page.lang] }} ({{ site.ForAGuideline[page.lang] }})</label>
        <li><input type="checkbox" id="dpgn-section-guides" /> <label for="dpgn-section-guides">{{ site.ImplementationGuides[page.lang] }} ({{ site.ForAGuideline[page.lang] }})</label>
        <li><input type="checkbox" id="dpgn-section-similar" /> <label for="dpgn-section-similar">{{ site.SimilarResources[page.lang] }} ({{ site.ForAGuideline[page.lang] }})</label>
      </ul>
    </li>
  </ul>
</fieldset>
<input type="button" value="{{ site.ApplyFilters[page.lang] }}" id="filter-button" />
</form>
</div.
</section>
