{% assign dataVariable = site.playbookData[page.lang] %}{% 
assign standards = site.data[dataVariable].standards %}{% 
assign standardIndex = 0 %}{% 
assign activeIndex = -1 %}{% 
assign baseurl = site.baseurl %}{% 
if page.standard %}{%
  assign pageStandardIndex = page.standard | minus: 1 %}{% 
endif %}{%
if page.collectionDirectory 
    %}{% assign baseurl = baseurl | append: "/" | append: page.collectionDirectory %}{% 
endif %}{%
unless page.url contains site.index[page.lang] %}{% 
  for standard in standards %}{% 
    assign activeIndex = activeIndex | plus: 1 %}{% 
    if standard.title == page.title or activeIndex == pageStandardIndex %}{% 
      break %}{% 
    endif %}{% 
  endfor %}{% 
endunless %}{% 
assign prevIndex = activeIndex | minus: 1 %}{% 
assign nextIndex = activeIndex | plus: 1 %}
<div class="text-center">
<ul class="pagination">
{% if prevIndex == -1 
  %}  <li><a href="{{ baseurl }}{{ site.index[page.lang] }}" rel="prev">{{ site.Previous[page.lang] }}<span class="wb-inv"> - {{ site.indexTitle[page.lang] }}</span></a></li>{% 
elsif prevIndex > -1 
  %}  <li><a href="{{ baseurl }}/{{ page.lang }}/{{ site.standardFile[prevIndex][page.lang] }}{{ site.RenderedFileExtension }}" rel="prev">{{ site.Previous[page.lang] }}<span class="wb-inv"> - {{ standards[prevIndex].title }}</span></a></li>{% 
endif %}
  <li{% 
if activeIndex == -1 
  %} class="active"{% 
endif 
%}><a href="{% 
if activeIndex == -1 
  %}#{% 
else 
  %}{{ baseurl }}{{ site.index[page.lang] }}{% 
endif 
%}">{{ site.indexTitle[page.lang] }}<span class="wb-inv"> - {{ site.GoTo[page.lang] }} {{ site.indexTitle[page.lang] }}</span></a></li>
{% 
for standard in standards 
  %}<li{% 
  if standard.title == page.title or activeIndex == standardIndex
    %} class="active"{% 
  endif 
  %}><a href="{% 
  if standard.title == page.title or activeIndex == standardIndex
    %}#{% 
  else 
    %}{{ baseurl }}/{{ page.lang }}/{{ site.standardFile[standardIndex][page.lang] }}{{ site.RenderedFileExtension }}{% 
  endif 
  %}">{{ standardIndex | plus: 1 }}<span class="wb-inv"> - {{ site.GoTo[page.lang] }} {{ standard.title }}</span></a></li>{% 
  assign standardIndex = standardIndex | plus: 1 %}{% 
endfor %}{% 
if nextIndex < 10 
  %}<li><a href="{{ baseurl }}/{{ page.lang }}/{{ site.standardFile[nextIndex][page.lang] }}{{ site.RenderedFileExtension }}" rel="next">{{ site.Next[page.lang] }}<span class="wb-inv"> - {{ standards[nextIndex].title }}</span></a></li>{% 
endif %}
</ul>
</div>
