{% comment %}@overview Outputs the view links in the specified language{% endcomment %}{%
comment %}@param lang {String} Which language to return (defaults to page.lang){% endcomment %}{%
comment %}@return {String} View links in the specified language{% endcomment %}{%
if include.lang == "en" or include.lang.size < 2 and page.lang == "en" %}

<section class="dpgn-data-ignore">
  <h4 class="dpgn-data-ignore">Assurance Level Tool</h4>
  <ul class="dpgn-data-ignore list-unstyled">
    <li><a class="btn btn-default btn-lg mrgn-bttm-md" href="{{ site.baseurl }}/views-vues/assurance-level-requirement/en/assurance-level-requirement.html"><span class="btn-block text-left"><span class="glyphicon glyphicon-check mrgn-rght-sm" aria-hidden="true"></span>Create Assurance Level Document (draft)</span></a><span class="hidden"> (Keywords: Assurance level)</span></li>
  </ul>
</section>

{% elsif include.lang == "fr" or include.lang.size < 2 and page.lang == "fr" %}

<section class="dpgn-data-ignore">
  <h4 class="dpgn-data-ignore">Assurance Level Tool TODO</h4>
  <ul class="dpgn-data-ignore list-unstyled">
    <li><a class="btn btn-default btn-lg mrgn-bttm-md" href="{{ site.baseurl }}/views-vues/assurance-level-requirement/en/assurance-level-requirement.html"><span class="btn-block text-left"><span class="glyphicon glyphicon-check mrgn-rght-sm" aria-hidden="true"></span>Create Assurance Level Document (draft) TODO</span></a><span class="hidden"> (Keywords: Assurance level TODO)</span></li>
  </ul>
</section>

{% endif %}
