{% assign dataVariable = site.playbookData[page.lang] %}{% assign dataSource = site.data[dataVariable] %}{% assign standardIndex = 0 %}
<table class="wb-tables table table-striped table-hover" data-wb-tables='{"lengthMenu": [[10, 25, -1], [10, 25, "All"]], "pageLength": -1 }'>
<thead>
<tr>
<th>{{ site.DigitalStandardNbsp[page.lang] }}</th>
<th>{{ site.DigitalPlaybookGuideline[page.lang] }}</th>
<th>{{ site.ComparableStandardsCriteria[page.lang] }}</th>
</tr>
</thead>
<tbody>
{% for standard in dataSource.standards %}{% assign guidelineIndex = 0 %}{% assign standardTags = standard.tags | join: ' ' %}
{% for guideline in standard.guidelines %}{% capture guidelineId %}{% include /functions/generate-id.html string=guideline.title %}{% endcapture %}
{% assign tagsArray = guideline.tags | concat: standard.tags %}{% assign standardFile = site.baseurl | append: "/" | append: page.lang | append: "/" | append: site.standardFile[standardIndex][page.lang] | append: site.RenderedFileExtension %}
<tr{% if tagsArray.size > 0 %} class="{{ tagsArray | join: ' ' }}"{% endif %}>
{% if guidelineIndex == 0 %}<td rowspan="{{ standard.guidelines.size }}"><a href="{{ standardFile }}">{{ standard.title }}</a></td>{% endif %}
<td><a href="{{ standardFile }}#{{ guidelineId | strip }}">{{ guideline.title }}</a></td>
<td>
{% include /functions/output-content-array.html contentArray=guideline.similar.content %}
</td>
</tr>
{% assign guidelineIndex = guidelineIndex | plus: 1 %}{% endfor %}
{% assign standardIndex = standardIndex | plus: 1 %}{% endfor %}
</tbody>
</table>
