<section>

## {{ site.Questionnaire[ page.lang ] }}

<div id="agile-use-when-questionnaire" class="wb-frmvld">
<form action="#" method="post">

<!-- Question 1 -->
<div id="question-1" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>1. {{ page.questions[ "1" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-1-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-1-non-agile", "class": "hidden" }
]'>{{ page.questions[ "1-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-1-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-1-agile", "class": "hidden" }
]'>{{ page.questions[ "1-a2" ] }}</li>
</ul>
</div>

<!-- Question 2 -->
<div id="question-2" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>2. {{ page.questions[ "2" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-2-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-2-non-agile", "class": "hidden" }
]'>{{ page.questions[ "2-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-2-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-2-agile", "class": "hidden" }
]'>{{ page.questions[ "2-a2" ] }}</li>
</ul>
</div>

<!-- Question 3 -->
<div id="question-3" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>3. {{ page.questions[ "3" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-3-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-3-non-agile", "class": "hidden" }
]'>{{ page.questions[ "3-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-3-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-3-agile", "class": "hidden" }
]'>{{ page.questions[ "3-a2" ] }}</li>
</ul>
</div>

<!-- Question 4 -->
<div id="question-4" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>4. {{ page.questions[ "4" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-4-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-4-non-agile", "class": "hidden" }
]'>{{ page.questions[ "4-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-4-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-4-agile", "class": "hidden" }
]'>{{ page.questions[ "4-a2" ] }}</li>
</ul>
</div>

<!-- Question 5 -->
<div id="question-5" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>5. {{ page.questions[ "5" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-5-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-5-non-agile", "class": "hidden" }
]'>{{ page.questions[ "5-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-5-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-5-agile", "class": "hidden" }
]'>{{ page.questions[ "5-a2" ] }}</li>
</ul>
</div>

<!-- Question 6 -->
<div id="question-6" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>6. {{ page.questions[ "6" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-6-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-6-non-agile", "class": "hidden" }
]'>{{ page.questions[ "6-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-6-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-6-agile", "class": "hidden" }
]'>{{ page.questions[ "6-a2" ] }}</li>
</ul>
</div>

<!-- Question 7 -->
<div id="question-7" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>7. {{ page.questions[ "7" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-7-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-7-non-agile", "class": "hidden" }
]'>{{ page.questions[ "7-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-7-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-7-agile", "class": "hidden" }
]'>{{ page.questions[ "7-a2" ] }}</li>
</ul>
</div>

<!-- Question 8 -->
<div id="question-8" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>8. {{ page.questions[ "8" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-8-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-8-non-agile", "class": "hidden" }
]'>{{ page.questions[ "8-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-8-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-8-agile", "class": "hidden" }
]'>{{ page.questions[ "8-a2" ] }}</li>
</ul>
</div>

<!-- Question 9 -->
<div id="question-9" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>9. {{ page.questions[ "9" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-9-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-9-non-agile", "class": "hidden" }
]'>{{ page.questions[ "9-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-9-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-9-agile", "class": "hidden" }
]'>{{ page.questions[ "9-a2" ] }}</li>
</ul>
</div>

<!-- Question 10 -->
<div id="question-10" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>10. {{ page.questions[ "10" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-10-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-10-non-agile", "class": "hidden" }
]'>{{ page.questions[ "10-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-10-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-10-agile", "class": "hidden" }
]'>{{ page.questions[ "10-a2" ] }}</li>
</ul>
</div>

<!-- Question 11 -->
<div id="question-11" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>11. {{ page.questions[ "11" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-11-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-11-non-agile", "class": "hidden" }
]'>{{ page.questions[ "11-a1" ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-11-non-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-11-agile", "class": "hidden" }
]'>{{ page.questions[ "11-a2" ] }}</li>
</ul>
</div>

<!-- Question 12 -->
<div id="question-12" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>12. {{ page.questions[ "12" ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".question-12-agile", "class": "hidden" },
  { "action": "addClass", "source": ".question-12-non-agile", "class": "hidden" }
]'>{{ page.questions[ "12-a1" ] }}</li>
<li data-wb-fieldflow='[{ "action": "removeClass", "source": ".question-12-non-agile", "class": "hidden" }, { "action": "addClass", "source": ".question-12-agile", "class": "hidden" }]'>{{ page.questions[ "12-a2" ] }}</li>
</ul>
</div>

</form>
</div>

</section>
