<section>

## {{ site.Questionnaire[ page.lang ] }}

<div id="agile-use-when-questionnaire" class="wb-frmvld">
<form action="#" method="post">{%
assign numQuestions = page.points | size %}{%
for questionNumber in (1..7) %}{%
  assign questionNumberString = questionNumber | downcase %}{%
  assign answer1String = questionNumberString | append: "-a1" %}{%
  assign answer2String = questionNumberString | append: "-a2" %}
<!-- Question {{ questionNumber }} -->
<div id="question-{{ questionNumber }}" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>{{ questionNumber }}. {{ page.questions[ questionNumberString ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".q{{ questionNumber }}-a1", "class": "hidden" },
  { "action": "addClass", "source": ".q{{ questionNumber }}-a2", "class": "hidden" }
]'>{{ page.questions[ answer1String ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".q{{ questionNumber }}-a2", "class": "hidden" },
  { "action": "addClass", "source": ".q{{ questionNumber }}-a1", "class": "hidden" }
]'>{{ page.questions[ answer2String ] }}</li>
</ul>
</div>{%
endfor %}{%
assign questionNumber = 8 %}{%
assign questionNumberString = questionNumber | downcase %}{%
assign answer1String = questionNumberString | append: "-a1" %}{%
assign answer2String = questionNumberString | append: "-a2" %}{%
assign answer3String = questionNumberString | append: "-a3" %}{%
assign answer4String = questionNumberString | append: "-a4" %}
<!-- Question {{ questionNumber }} -->
<div id="question-{{ questionNumber }}" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>{{ questionNumber }}. {{ page.questions[ questionNumberString ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".q{{ questionNumber }}-a1", "class": "hidden" },
  { "action": "addClass", "source": ".q{{ questionNumber }}-a2, .q{{ questionNumber }}-a3, .q{{ questionNumber }}-a4", "class": "hidden" }
]'>{{ page.questions[ answer1String ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".q{{ questionNumber }}-a2", "class": "hidden" },
  { "action": "addClass", "source": ".q{{ questionNumber }}-a1, .q{{ questionNumber }}-a3, .q{{ questionNumber }}-a4", "class": "hidden" }
]'>{{ page.questions[ answer2String ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".q{{ questionNumber }}-a3", "class": "hidden" },
  { "action": "addClass", "source": ".q{{ questionNumber }}-a1, .q{{ questionNumber }}-a2, .q{{ questionNumber }}-a4", "class": "hidden" }
]'>{{ page.questions[ answer3String ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".q{{ questionNumber }}-a4", "class": "hidden" },
  { "action": "addClass", "source": ".q{{ questionNumber }}-a1, .q{{ questionNumber }}-a2, .q{{ questionNumber }}-a3", "class": "hidden" }
]'>{{ page.questions[ answer4String ] }}</li>
</ul>
</div>{%
for questionNumber in (9..numQuestions) %}{%
  assign questionNumberString = questionNumber | downcase %}{%
  assign answer1String = questionNumberString | append: "-a1" %}{%
  assign answer2String = questionNumberString | append: "-a2" %}
<!-- Question {{ questionNumber }} -->
<div id="question-{{ questionNumber }}" class="wb-fieldflow" data-wb-fieldflow='{ "renderas": "radio", "noForm": true, "base": { "live": true } }'>
<p>{{ questionNumber }}. {{ page.questions[ questionNumberString ] }}</p>
<ul>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".q{{ questionNumber }}-a1", "class": "hidden" },
  { "action": "addClass", "source": ".q{{ questionNumber }}-a2", "class": "hidden" }
]'>{{ page.questions[ answer1String ] }}</li>
<li data-wb-fieldflow='[
  { "action": "removeClass", "source": ".q{{ questionNumber }}-a2", "class": "hidden" },
  { "action": "addClass", "source": ".q{{ questionNumber }}-a1", "class": "hidden" }
]'>{{ page.questions[ answer2String ] }}</li>
</ul>
</div>{%
endfor %}
</form>
</div>

</section>
