---
layout: default
title: Exigence relative au niveau d’assurance (ébauche)
lang: fr
altLang: en
altLangPage: assurance-level-requirement
collectionDirectory: views-vues/assurance-level-requirement
version: Version d’évaluation 1.0

moreInfo: Plus d’information
questions:
  "1": Inconvénients, détresse, perte de situation sociale ou de réputation
  "1-a1": Des inconvénients, de la détresse ou des dommages à la situation sociale ou à la réputation d’une partie.
  "1-a2": Des inconvénients, de la détresse ou des dommages majeurs à court terme ou des inconvénients, de la détresse ou des dommages limités à long terme à la situation sociale ou à la réputation d’une partie.
  "1-a3": Des inconvénients, de la détresse ou des dommages graves à long terme à la situation sociale ou à la réputation d’une partie.
  "1-a4": Des inconvénients, de la détresse ou des dommages graves et permanents à la situation sociale ou à la réputation d’une partie.
  "1-hint-a1":
    <ul><li>Il existe des solutions de rechange comportant peu ou pas de délais, aucun coût additionnel ni aucune dégradation de la qualité du service</li>
    <li>Embarras mineur</li></ul>
  "1-hint-a2":
    <ul><li>Les solutions de rechange sont faciles à trouver</li>
    <li>Perte de réputation ou de situation sociale entre les mandants</li>
    <li>Perte de confiance ou de fiabilité entre les mandants</li></ul>
  "1-hint-a3":
    <ul><li>Il n’est pas facile de trouver des solutions de rechange</li>
    <li>Perte de réputation ou de situation sociale entre les mandants et d’autres parties (y compris des tiers)</li>
    <li>Perte de confiance ou de fiabilité entre les mandants et d’autres parties (y compris des tiers)</li></ul>
  "1-hint-a4":
    <ul><li>Il n’y a pas de solution de rechange</li>
    <li>Perte permanente et généralisée de réputation ou de situation sociale</li>
    <li>Perte permanente et généralisée de confiance ou de fiabilité</li></ul>

  "2": Perte financière
  "2-a1": Une perte financière.
  "2-a2": Une perte financière mineure d’une partie. (Nota&#58; La gravité de la perte dépend de l’incidence de la perte sur la partie touchée.)
  "2-a3": Une perte financière majeure d’une partie. (Nota&#58; La gravité de la perte dépend de l’incidence de la perte sur la partie touchée.)
  "2-a4": Une perte financière extrême d’une partie. (Nota&#58; La gravité de la perte dépend de l’incidence de la perte sur la partie touchée.)
  "2-hint-a1":
    <ul><li>Aucune perte financière</li></ul>
  "2-hint-a2":
    <ul><li>Perte financière dont les incidences sur la situation financière d’un particulier ou d’une organisation sont inexistantes ou négligeables</li>
    <li>Incidence budgétaire pouvant nécessiter une réaffectation de fonds, sans financement additionnel</li></ul>
  "2-hint-a3":
    <ul><li>Perte financière dont les incidences sur la situation financière d’un particulier ou d’une organisation sont majeures</li>
    <li>Incidence budgétaire pouvant nécessiter une réaffectation de fonds et du financement additionnel</li></ul>
  "2-hint-a4":
    <ul><li>Perte financière mettant gravement en péril la situation financière d’un particulier ou d’une organisation</li>
    <li>Une restructuration financière peut être nécessaire</li></ul>

  "3": Préjudice causé au programme ou à l’intérêt public
  "3-a1": Des incidences négatives sur une organisation gouvernementale, un programme, un bien ou l’intérêt public.
  "3-a2": Des incidences négatives modérées sur une organisation gouvernementale (c.-à-d. elle peut exécuter sa fonction primaire, mais avec une efficacité réduite), un programme, un bien organisationnel ou l’intérêt public.
  "3-a3": Des incidences négatives majeures sur une organisation gouvernementale (c.-à-d. elle peut exécuter sa fonction primaire, mais avec une efficacité considérablement réduite), un programme, un bien organisationnel ou l’intérêt public.
  "3-a4": Des incidences catastrophiques sur une organisation gouvernementale (c.-à-d. elle est incapable d’exécuter sa fonction primaire), un programme, un bien organisationnel ou l’intérêt public.
  "3-hint-a1":
    <ul><li>Aucune réduction appréciable de l’efficacité d’une fonction primaire d’une organisation</li>
    <li>Aucun bien essentiel mis en péril</li>
    <li>Aucune perte de confiance de la part du public</li></ul>
  "3-hint-a2":
    <ul><li>Efficacité d’une fonction primaire d’une organisation réduite de façon perceptible</li>
    <li>Aucun bien essentiel mis en péril</li>
    <li>Perte de confiance temporaire de la part du public</li></ul>
  "3-hint-a3":
    <ul><li>Efficacité d’une fonction primaire d’une organisation considérablement réduite</li>
    <li>Bien essentiel mis en péril</li>
    <li>Perte de confiance à long terme de la part du public</li></ul>
  "3-hint-a4":
    <ul><li>Incapacité pour une organisation d’exécuter une fonction primaire</li>
    <li>Dommages majeurs à un bien essentiel ou perte possible d’un bien essentiel</li>
    <li>Perte permanente de la confiance du public</li></ul>

  "4": Divulgation non autorisée de renseignements personnels ou commerciaux de nature délicate
  "4-a1": La perte de protection de renseignements personnels ou la divulgation non autorisée de renseignements personnels ou commerciaux.
  "4-a2": Des incidences négatives modérées sur une personne ou une institution en raison de la perte du caractère confidentiel ou d’une entrave à la vie privée découlant d’une divulgation non autorisée ou inappropriée de renseignements personnels ou commerciaux de nature délicate.
  "4-a3": Des incidences négatives majeures sur une personne ou une institution en raison de la perte du caractère confidentiel ou d’une entrave à la vie privée découlant d’une divulgation non autorisée ou inappropriée de renseignements personnels ou commerciaux de nature délicate.
  "4-a4": Des incidences catastrophiques sur une personne ou une institution en raison de la perte du caractère confidentiel ou d’une entrave à la vie privée découlant d’une divulgation non autorisée ou inappropriée de renseignements personnels ou commerciaux de nature délicate.
  "4-hint-a1":
     <ul><li>Aucune perte de renseignements personnels</li>
     <li>Aucune hausse de l’intérêt public et de l’attention des médias</li></ul>
  "4-hint-a2":
    <ul><li>Perte de renseignements personnels, surveillance, suivi, contrôle, profilage de données ou couplage de données non désirés</li>
    <li>Perte de confiance dans l’organisation, relations d’affaires mises en péril ou baisse de la situation concurrentielle</li>
    <li>Perte d’avantage concurrentiel</li></ul>
  "4-hint-a3":
    <ul><li>Possible incapacité de s’acquitter d’obligations juridiques ou contractuelles</li>
    <li>Dommages aux relations d’affaires qui nécessitent des recours juridiques</li></ul>
  "4-hint-a4":
    <ul><li>Perturbation de l’ordre social ou agitation civile</li>
    <li>Perte de la continuité opérationnelle</li>
    <li>Cessation des relations d’affaires</li>
    <li>Volatilité des marchés</li>
    <li>Perte de pouvoir (p. ex., en raison de l’intervention d’une partie de l’extérieur)</li></ul>

  "5": Divulgation non autorisée de renseignements gouvernementaux de nature délicate (renseignements autres que personnels)
  "5-a1": La perte du caractère confidentiel.
  "5-a2": Des incidences négatives modérées sur les activités et les biens d’une organisation en raison de la perte du caractère confidentiel découlant de la divulgation de renseignements gouvernementaux de nature délicate à des parties non autorisées.
  "5-a3": Des incidences négatives majeures sur les activités et les biens d’une organisation en raison de la perte du caractère confidentiel découlant de la divulgation de renseignements gouvernementaux de nature délicate à des parties non autorisées.
  "5-a4": Des incidences catastrophiques sur les activités et les biens d’une organisation en raison de la perte du caractère confidentiel découlant de la divulgation de renseignements gouvernementaux de nature délicate à des parties non autorisées.
  "5-hint-a1":
    <ul><li>Aucune hausse de l’intérêt public et de l’attention des médias</li></ul>
  "5-hint-a2":
    <ul><li>Perte de confiance du public</li>
    <li>Hausse de l’intérêt public et de l’attention des médias</li>
    <li>Intégrité de programme réduite</li></ul>
  "5-hint-a3":
    <ul><li>Surveillance accrue (p. ex., davantage de vérifications, mécanismes d’approbation plus rigoureux)</li>
    <li>Révocation temporaire de pouvoirs ministériels</li>
    <li>Bien essentiel mis en péril</li></ul>
  "5-hint-a4":
    <ul><li>Perte de continuité de services gouvernementaux essentiels</li>
    <li>Érosion ou perte des pouvoirs ministériels</li>
    <li>Dommages majeurs à un bien essentiel ou perte possible d’un bien essentiel</li>
    <li>Dommages irréversibles à la confiance du public</li></ul>

  "6": Infractions civiles ou criminelles
  "6-a2": Une infraction qui peut entraîner des conséquences mineures.
  "6-a3": Une infraction qui peut entraîner des conséquences majeures.
  "6-a4": Une infraction qui peut entraîner des conséquences exceptionnellement graves.
  "6-hint-a2":
    <ul><li>Fausses déclarations ou actes fautifs ayant des incidences financières ou juridiques mineures et touchant uniquement le particulier</li>
    <li>Infraction ne nécessitant pas habituellement de mesure disciplinaire, d’enquête ou d’exécution</li>
    <li>Infraction punissable par procédure sommaire</li></ul>
  "6-hint-a3":
    <ul><li>Fausses déclarations ou actes fautifs ayant des incidences financières ou juridiques graves et pouvant aussi toucher des tiers (comme les fiduciaires agissant au nom du particulier)</li>
    <li>Infraction pouvant nécessiter une mesure disciplinaire, d’enquête ou d’exécution</li>
    <li>Infraction punissable par mise en accusation (p. ex., un acte criminel)</li></ul>
  "6-hint-a4":
    <ul><li>Fausses déclarations ou observations inexactes par rapport à des services ou opérations où la sécurité et le bien-être du particulier ou d’autres parties touchées peuvent être mis en péril</li>
    <li>Infraction nécessitant une mesure disciplinaire, d’enquête ou d’exécution</li>
    <li>Infraction pouvant constituer un acte criminel grave (p. ex., le terrorisme)</li></ul>

  "7": Santé ou sécurité personnelle
  "7-a2": Une blessure mineure qui ne requiert pas de soins médicaux.
  "7-a3": Une blessure qui requiert des soins médicaux.
  "7-a4": Une blessure grave ou un décès.
  "7-hint-a2":
    <ul><li>Aucune blessure ni aucune détresse psychologique requérant un traitement de la part du personnel chargé des premiers soins ou d’un professionnel de la santé</li></ul>
  "7-hint-a3":
    <ul><li>Blessure ou détresse psychologique requérant un traitement de la part du personnel chargé des premiers soins ou d’un professionnel de la santé</li></ul>
  "7-hint-a4":
    <ul><li>Blessure physique ou détresse psychologique requérant une intervention d’urgence</li></ul>

  "8": Intérêt national
  "8-a2": Un inconvénient pour l’intérêt national.
  "8-a3": Un préjudice pour l’intérêt national.
  "8-a4": Un préjudice sérieux ou exceptionnellement grave pour l’intérêt national.
  "8-hint-a2":
    <ul><li>Toute question pouvant causer un inconvénient pour l’intérêt national</li></ul>
  "8-hint-a3":
    <ul><li>Toute question pouvant raisonnablement causer un préjudice à l’intérêt national</li></ul>
  "8-hint-a4":
    <ul><li>Toute question pouvant raisonnablement causer un préjudice grave ou exceptionnellement grave à l’intérêt national</li></ul>

detail:
  "1": Évaluateur
  "2": Activité de programme, service ou opération
  "2a": Activité
  "3": Ministère
  "3b": Sélectionnez une ministère
  "4": Date
otherLabel: Si Autre, veuillez préciser
other: Autre

assurance:
  "1": Si le programme, l’activité, le service ou l’opération ci-dessus est compromis, cela pourrait entraîner un préjudice NUL à MINIME
  "2": Si le programme, l’activité, le service ou l’opération ci-dessus est compromis, cela pourrait entraîner un préjudice MINIME à MODÉRÉ
  "3": Si le programme, l’activité, le service ou l’opération ci-dessus est compromis, cela pourrait entraîner un préjudice MODÉRÉ à SÉRIEUX
  "4": Si le programme, l’activité, le service ou l’opération ci-dessus est compromis, cela pourrait entraîner un préjudice SÉRIEUX à CATASTROPHIQUE

level: Niveau Requis
assessment: L’évaluation
rationale: Raisonnement
potentialHarm: Risque de Préjudice
overallAssessment: Évaluation Globale

detailTitle: Détails
assuranceTitle: Niveaux d’Assurance
notApplicableAbbr: S/O

assuranceQuestion: Pour déterminer le niveau d’assurance requis, complétez la phrase suivante en utilisant les énoncés dans les cellules ci-dessous et en cochant les cases appropriées
assuranceSentence: « Si le programme, l’activité, le service ou l’opération ci-dessus est compromis, cela pourrait entraîner… »

printButton: Imprimer / télécharger le PDF

afterwards: Ensuite
postOpening: Le tableau suivant décrit ce que les ministères doivent faire lorsqu’une option d’authentification choisie est égale à l’exigence relative au niveau d’assurance déterminé ci-dessus et lorsque l’option choisie est inférieure à l’exigence relative au niveau d’assurance déterminé ci-dessus.

authentication: Option d’authentification
implementation: Option de mise en œuvre
withinDepartment: Au sein du ministère
anotherParty: Dépendre d’une autre partie

authOption:
  "1": Égale à l’exigence relative au niveau d’assurance
  "1a": <ul><li>Veiller à ce que le ministère se conforme aux exigences pour l’exigence relative au niveau d’assurance déterminée ci-dessus</li></ul>
  "1b":
    <ul><li>Veiller à ce que le fournisseur se conforme aux exigences pour l’exigence relative au niveau d’assurance déterminée ci-dessus</li></ul>
    <p>Dans le cas d’un participant à une fédération&#58;</p>
    <ul><li>Veiller à ce que le membre (ou fournisseur de services) satisfasse aux critères établis par la fédération pour fournir le niveau d’assurance déterminé ci-dessus</li></ul>
  "2": Inférieure à l’exigence relative au niveau d’assurance
  "2a":
    <ul>
    <li>Fournir une justification pour le choix de la mise en œuvre en utilisant un niveau d’assurance inférieur (p. ex., coût, utilisabilité, service obligatoire, faisabilité technique)</li>
    <li>Décrire les menaces et vulnérabilités potentielles qui pourraient être exploitées, y compris les violations</li>
    <li>Décrire les mesures d’atténuation des risques liés à l’identité, au justificatif et à l’authentification</li>
    <li>Inclure les descriptions des éléments suivants&#58; <ul>
        <li>Facteurs de compensation</li>
        <li>Autres mesures de protection</li>
        <li>Acceptation des risques</li>
    </ul></li>
    <li>Veiller à ce que le ministère se conforme aux exigences pour l’exigence inférieure relative au niveau d’assurance déterminée ci-dessus</li></ul>
  "2b":
    <ul>
    <li>Fournir une justification pour le choix du fournisseur au niveau d’assurance inférieur (p. ex., coût, utilisabilité, service obligatoire, faisabilité technique)</li>
    <li>Décrire les menaces et vulnérabilités potentielles qui pourraient être exploitées, y compris les violations avec le ministère ou le fournisseur</li>
    <li>Décrire les mesures d’atténuation des risques, y compris les conditions précisées dans les contrats ou accords avec le fournisseur ou les membres de la fédération</li>
    <li>Inclure les descriptions des éléments suivants&#58; <ul>
        <li>Facteurs de compensation</li>
        <li>Autres mesures de protection</li>
        <li>Acceptation des risques</li>
    </ul></li></ul>
    <p>Dans le cas d’un participant à une fédération&#58;</p>
    <ul>
    <li>Veiller à ce que le membre (ou fournisseur de services) satisfasse aux critères établis par la fédération pour fournir le niveau d’assurance déterminé ci-dessus</li>
    <li>Veiller à ce que le ministère comprenne ses responsabilités quant à la gestion des risques résiduels</li>
    </ul>
---

{% include views-vues/assurance-level-requirement/assurance-level-details.html %}

{% include views-vues/assurance-level-requirement/assurance-level-questionnaire.html %}

{% include views-vues/assurance-level-requirement/assurance-level-resultats.html %}

{% include views-vues/assurance-level-requirement/assurance-level-post.html %}

<script src="/digital-playbook-guide-numerique/assets-atouts/js/print-elem.js"></script>
<script src="/digital-playbook-guide-numerique/assets-atouts/js/date.js"></script>
