---
layout: default
title: Exigence relative au niveau d’assurance (ébauche)
lang: fr
altLang: en
altLangPage: assurance-level-requirement
collectionDirectory: views-vues/assurance-level-requirement
questions:
  "1": Inconvénients, détresse, perte de situation sociale ou de réputation
  "1-a0": TODO
  "1-a1": Des inconvénients, de la détresse ou des dommages à la situation sociale ou à la réputation d’une partie.
  "1-a2": Des inconvénients, de la détresse ou des dommages majeurs à court terme ou des inconvénients, de la détresse ou des dommages limités à long terme à la situation sociale ou à la réputation d’une partie.
  "1-a3": Des inconvénients, de la détresse ou des dommages graves à long terme à la situation sociale ou à la réputation d’une partie.
  "1-a4": Des inconvénients, de la détresse ou des dommages graves et permanents à la situation sociale ou à la réputation d’une partie.
  "2": Perte financière
  "2-a0": TODO
  "2-a1": Une perte financière.
  "2-a2": Une perte financière mineure d’une partie. (Nota&#58; La gravité de la perte dépend de l’incidence de la perte sur la partie touchée.)
  "2-a3": Une perte financière majeure d’une partie. (Nota&#58; La gravité de la perte dépend de l’incidence de la perte sur la partie touchée.)
  "2-a4": Une perte financière extrême d’une partie. (Nota&#58; La gravité de la perte dépend de l’incidence de la perte sur la partie touchée.)
  "3": Préjudice causé au programme ou à l’intérêt public
  "3-a0": TODO
  "3-a1": Des incidences négatives sur une organisation gouvernementale, un programme, un bien ou l’intérêt public.
  "3-a2": Des incidences négatives modérées sur une organisation gouvernementale (c.-à-d. elle peut exécuter sa fonction primaire, mais avec une efficacité réduite), un programme, un bien organisationnel ou l’intérêt public.
  "3-a3": Des incidences négatives majeures sur une organisation gouvernementale (c.-à-d. elle peut exécuter sa fonction primaire, mais avec une efficacité considérablement réduite), un programme, un bien organisationnel ou l’intérêt public.
  "3-a4": Des incidences catastrophiques sur une organisation gouvernementale (c.-à-d. elle est incapable d’exécuter sa fonction primaire), un programme, un bien organisationnel ou l’intérêt public.
  "4": Divulgation non autorisée de renseignements personnels ou commerciaux de nature délicate
  "4-a0":
  "4-a1": La perte de protection de renseignements personnels ou la divulgation non autorisée de renseignements personnels ou commerciaux.
  "4-a2": Des incidences négatives modérées sur une personne ou une institution en raison de la perte du caractère confidentiel ou d’une entrave à la vie privée découlant d’une divulgation non autorisée ou inappropriée de renseignements personnels ou commerciaux de nature délicate.
  "4-a3": Des incidences négatives majeures sur une personne ou une institution en raison de la perte du caractère confidentiel ou d’une entrave à la vie privée découlant d’une divulgation non autorisée ou inappropriée de renseignements personnels ou commerciaux de nature délicate.
  "4-a4": Des incidences catastrophiques sur une personne ou une institution en raison de la perte du caractère confidentiel ou d’une entrave à la vie privée découlant d’une divulgation non autorisée ou inappropriée de renseignements personnels ou commerciaux de nature délicate.
  "5": Divulgation non autorisée de renseignements gouvernementaux de nature délicate (renseignements autres que personnels)
  "5-a0": TODO
  "5-a1": La perte du caractère confidentiel.
  "5-a2": Des incidences négatives modérées sur les activités et les biens d’une organisation en raison de la perte du caractère confidentiel découlant de la divulgation de renseignements gouvernementaux de nature délicate à des parties non autorisées.
  "5-a3": Des incidences négatives majeures sur les activités et les biens d’une organisation en raison de la perte du caractère confidentiel découlant de la divulgation de renseignements gouvernementaux de nature délicate à des parties non autorisées.
  "5-a4": Des incidences catastrophiques sur les activités et les biens d’une organisation en raison de la perte du caractère confidentiel découlant de la divulgation de renseignements gouvernementaux de nature délicate à des parties non autorisées.
  "6": Infractions civiles ou criminelles
  "6-a0": TODO
  "6-a2": Une infraction qui peut entraîner des conséquences mineures.
  "6-a3": Une infraction qui peut entraîner des conséquences majeures.
  "6-a4": Une infraction qui peut entraîner des conséquences exceptionnellement graves.
  "7": Santé ou sécurité personnelle
  "7-a0": TODO
  "7-a2": Une blessure mineure qui ne requiert pas de soins médicaux.
  "7-a3": Une blessure qui requiert des soins médicaux.
  "7-a4": Une blessure grave ou un décès.
  "8": Intérêt national
  "8-a0": TODO
  "8-a2": Un inconvénient pour l’intérêt national.
  "8-a3": Un préjudice pour l’intérêt national.
  "8-a4": Un préjudice sérieux ou exceptionnellement grave pour l’intérêt national.

detail:
  "1": Évaluateur
  "2": Activité de programme, service ou opération
  "2a": Activité
  "3": Ministère
  "3b": Sélectionnez une ministère
  "4": Date

level: Required Level TODO
assessment: Assessment TODO
rational: Rational TODO
overallAssesment: Overall Assesment TODO

detailTitle: Details TODO
assuranceTitle: niveau d'assurance

assuranceQuestion: Pour déterminer le niveau d’assurance requis, complétez la phrase suivante en utilisant les énoncés dans les cellules ci-dessous et en cochant les cases appropriées
assuranceSentence: « Si le programme, l’activité, le service ou l’opération ci-dessus est compromis, cela pourrait entraîner… »
notApplicable: TODO Not Applicable
---
{% assign dataVariable = site.playbookData[page.lang] %}{%
assign dataSource = site.data[dataVariable] %}

<div class="wb-inview" data-inview="progress-overlay">
</div>
{% include views-vues/assurance-level-requirement/assurance-level-details.html %}

{% include views-vues/assurance-level-requirement/assurance-level-questionnaire.html %}

{% include views-vues/assurance-level-requirement/assurance-level-resultats.html %}
