---
layout: default
title: Algorithmic Impact Assessment (v0.2)
lang: en
altLang: fr
altLangPage: evaluation-impact-algorithmique
collectionDirectory: views-vues/automated-decision-automatise
aboutRespondentSection: About the Respondent
aboutDecisionSection: About the Decision
dataBusinessProcessSection: Data and Business Process
systemFunctionalitySection: System Functionality
organizationalReadinessSection: Organizational Readiness
automatedDecisionViewTitle: How should I implement an Automated Decision System? (draft)
automatedDecisionViewFilename: automated-decision
impactScore: Impact score
impactLevel: Impact level
relevantRequirements: Relevant requirements
aiaCriteria: 
  - "Impact on Individuals and Entities"
  - "Impact on Government Institutions"
  - "Data Management"
  - "Procedural Fairness"
  - "Complexity"
questions:
  "1": Name of respondent
  "2": Job title
  "3": Department
  "3-sub": Select a department
  "4": Branch
  "5": Project title
  "6": Tell us a bit about your system
  "7": What parts of the decision-making process will be automated by this system? (Check all that apply)
  "7a": Risk scoring, profiling, or categorization of a client in terms of risk
  "7b": Recommendation to take a certain course of action
  "7c": Render a complete administrative decision
  "7.1": Does the recommendation or decision made by the system involve discretion?
  "7.1-details": Some decisions are based on clear facts, such as postal code or annual income. Others require that a case officer exercise some discretion as to whether an applicant meets a criterion. For example, determining whether a person is too disabled to work requires that a case officer weigh different factors, and ultimately make a judgement.
  "7.1.1": Describe what is discretionary about the decision
  "7.1.2": Is the decision purely discretionary? (e.g., a review on compassionate grounds)
  "7.1.2-details": Some decisions in government are purely discretionary, meaning that the primary determining factor as to whether the decision is positive or negative is one that can't be easily measured. For example, whether to grant compassionate review of an application.
  "7.1.3": Have all the decision points that involve the exercise of human discretion been clearly identified?
  "8": How long is the system expected to function? (Select one)
  "8-one-time": One time only
  "8-limited-duration": For a limited duration
  "8-indefinitely": Indefinitely
  "9": Can this decision result in the restriction of movement into, out of, or within Canada?
  "10": Is this decision regarding an individual's past, current, or potential criminal activity?
  "10.1": Can this automated system increase the likelihood of incarceration for an individual?
  "11": Is this a decision about the provision of health care to an individual, community, or population?
  "12": Can this system result in granting or restricting access to a premises or network?
  "12.1": What is the classfication of the premises? (Select one)
  "13": Does this system provide funds to an individual, business, or community?
  "13.1": Is this funding for a social support program for an individual?
  "13.1.1": If funding were to be denied, could it leave the client in a precarious economic position? (e.g., could render an individual homeless or a business to close)
  "13.2": Does the system issue transfer payments to a business or organization?
  "13.2.1": Is this grant, contribution, or transfer payment in excess of $2,000,000 per payment?
  "13.3": Does this system, result in the issuance of a fine, administrative monetary penalty, or a debt collection notice?
  "14": Does this system result in the issuance of a permit, license, or an intellectual property right?
  "14.1": Does this involve the collection, transportation, storage, purchase or sale of a regulated good or substance?
  "14.1.1": Is this regulated good or substance dangerous, such as a firearm, toxin, or hazardous material?
  "14.2": Is this a construction or environmental permit?
  "14.3": Is this a patent, trademark, or copyright?
  "15": Is this a decision regaring the structure of a market (e.g., merger or acquisition, a limit to the number of market entrants)?
  "16": Does this system confer a legal status that is otherwise required to receive a benefit or service (e.g., Indian status, veteran status)?
  "17": Is this a decision regarding the provision of consular services?
  "18": Does this system involve the distribution of human resources or material in the management of emergencies?
  "19": What are the key business drivers for automating the administrative decision-making process? (Check all that apply)
  "19a": The immediate decisions of the system could save lives
  "19b": Existing backlog of work or cases
  "19c": Improve overall quality of decisions
  "19d": Lower transaction costs of an existing program
  "19e": The system is performing tasks that humans could not accomplish in a reasonable period of time
  "19f": Improve client service delivery
  "19g": Using innovative approaches
  "19h": None of the above
  "20": Will your system make decisions specifically about Indigenous peoples or territory?
  "20.1": Have you engaged relevant Indigenous organizations in meaningful consultation in the design of the system?
  "21": Who collected the data used for training the system? (Check all that apply)
  "21a": Your institution
  "21b": Another federal institution
  "21c": Another level of government
  "21d": A foreign government
  "21e": A non-government third party
  "22": Who collects the input data used by the system? (Check all that apply)
  "22a": Your institution
  "22b": Another federal institution
  "22c": Another level of government
  "22d": A foreign government
  "22e": A non-government third party
  "23": Have you consulted with relevant stakeholder groups representing those likely to be affected by the decision?
  "23.1": To your knowledge, do these stakeholders support automation being included in the decision?
  "24": Is there a process in place to document how data quality issues were resolved during the design process?
  "24.1": Please tell us more about the process
  "25-part1": Have you undertaken
  "25-link-url": "https://www.swc-cfc.gc.ca/gba-acs/approach-approche-en.html"
  "25-link-text": Gender Based Analysis Plus
  "25-part2": of the training data?
  "25.1": Based on the GBA+ results, have you documented mitigation strategies?
  "26": Does the Automated Decision System use personal information as input data?
  "26.1": Does the program have an existing Privacy Impact Assessment?
  "27": Have you assigned accountability for the design, development, maintenance, and improvement of the system?
  "27a": Design
  "27b": Development
  "27c": Maintenance
  "27d": Improvement
  "28": What is the highest security classfication of the input data used by the system? (Select one)
  "29": Does the system require the analysis of unstructured data to render a recommendation or a decision?
  "29.1": What types of unstructured data (Check all that apply)?
  "29.1a": Audio
  "29.1b": Biological data
  "29.1c": Geographical data
  "29.1d": Handwriting
  "29.1e": Images
  "29.1f": Text
  "29.1g": Video
  "29.1h": Other
  "29.1.1": What are the other types of unstructured data?
  "30": Does your system require input data from an Internet- or telephony-connected device? (e.g., a sensor, drone)
  "31": Does your system use contactless machine vision for biometric recognition (e.g. facial, full-body person, gait)?
  "31.1": Does your system perform within acceptable parameters for all skin colours as defined by the Fitzpatrick Skin Type scale or similar measurement?
  "31.2": Where applicable, have you tested to ensure that the system performs within acceptable parameters with persons who have a disability that may cause them to be unduly disadvantaged by the machine vision component? (e.g., ensuring that a gait analysis tool does not unduly disadvantage an individual that uses a wheelchair)
  "32": Have appropriate strategies been developed to manage the risk that outdated or unreliable data is used to make an automated decision?
  "32.1": If you'd like, provide us more details on these strategies
  "33": Is the scope of the system clearly reflected in project documentation?
  "34": Does the system interface with other IT systems?
  "34.1": Where it interfaces with other systems, have you clearly identified the business processes that occur between systems?
  "35": Does the system enable human override of system decisions?
  "36": Does the system enable override of human decisions?
  "36.1": Is this required by legislation or regulations?
  "37": Does the system enable the override of other automated decision systems?
  "38": Do you have processes in place to log the instances where overrides were performed?
  "39": Did you develop verification processes to test for unintentional outcomes?
  "39.1": Describe the verification processes you are using or plan on using
  "40": Can the system provide an audit trail that records recommendations or decisions?
  "40.1": Does the audit trail clearly set out all decision points made by the system?
  "40.2": Have you included change control processes in the audit trail to record modifications to the system's operation or performance?
  "40.3": Does the audit trail show who an authorized decision-maker is?
  "41": Can the system produce reasons for its decisions or recommendations when required?
  "42": Has the design team consulted the following experts within their organization?
  "42a": Communications
  "42b": Data and Information Management
  "42c": Policy
  "42d": Human Resources
  "42e": IT/Cybersecurity
  "42f": Legal
  "42g": Service Delivery
  "42h": Privacy
  "42.1": Has a formal opinion been issued?
  "42.2": Have the relevant areas of legislation been identified during the scoping phase?
  "43": Have you developed Key Performance Indicators and benchmarks to measure and improve the system’s performance?
  "44": Are you specifically measuring impacts (e.g., social, economic, environmental) that may result from the system?
  "44.1": Describe how you are measuring these impacts"
  "45": Have you presented a concept case to the Government of Canada Enterprise Architecture Review Board?
  "46": Have you conducted a Security Assessment and Authorization?
  "46.1": Has full authority been granted under the SA&A?
  "47": Is there a process in place to grant, monitor, and revoke access permission?
  "48": Is the system used by a different part of the organization than the ones who developed it?
  "49": Did you develop training programs or documentation to ensure that the system is used effectively and properly?
  "49.1": Do you have means to ensure that training requirements are being met?
  "50": Have you developed an external communications plan?
  "51": Have you developed an internal communications plan to address any potential changes to work practices for officers?
  "52": Do you have a mechanism to capture feedback by users of the system?
  "53": Do you have a recourse process planned or established for clients that wish to challenge the decision?
points:
  "7a":
    "yes": [ 0, 0, 0, 1.25, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "7b":
    "yes": [ 0, 0, 0, 1.5, 1.05 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "7c":
    "yes": [ 0, 0, 0, 5, 1.25 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "7.1":
    "yes": [ 0, 0, 0, 2.5, 1.5 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "7.1.2":
    "yes": [ 0, 0, 0, 15, 1.1 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "7.1.3":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.05, 2, 0 ]
  "8":
    "one-time": [ 0, 0, 0, 0, 0 ]
    "limited-duration": [ 0, 0, 1.01, 0, 0 ]
    "indefinitely": [ 0, 0, 1.05, 1.01, 1.01 ]
  "9":
    "yes": [ 30, 3, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "10":
    "yes": [ 50, 5, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "10.1":
    "yes": [ 100, 3, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "11":
    "yes": [ 50, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "12":
    "yes": [ 3, 1, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "12.1":
    "none": [ 0, 1, 0, 0, 0 ]
    "protected": [ 0, 2, 0, 0, 0 ]
    "protected-a": [ 0, 3, 0, 0, 0 ]
    "protected-b": [ 0, 4, 0, 0, 0 ]
    "protected-c": [ 0, 20, 0, 0, 0 ]
    "classified": [ 0, 2, 0, 0, 0 ]
    "confidential": [ 0, 3, 0, 0, 0 ]
    "secret": [ 0, 4, 0, 0, 0 ]
    "top-secret": [ 0, 20, 0, 0, 0 ]
  "13":
    "yes": [ 5, 2, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "13.1":
    "yes": [ 5, 2, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "13.1.1":
    "yes": [ 15, 0, 0, 1.02, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "13.2":
    "yes": [ 5, 1, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "13.2.1":
    "yes": [ 4, 12, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "13.3":
    "yes": [ 10, 2, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "14":
    "yes": [ 2, 2, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "14.1":
    "yes": [ 8, 2, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "14.1.1":
    "yes": [ 35, 10, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "14.2":
    "yes": [ 4, 2, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "14.3":
    "yes": [ 20, 2, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "15":
    "yes": [ 25, 25, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "16":
    "yes": [ 8, 8, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "17":
    "yes": [ 20, 8, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "18":
    "yes": [ 1, 6, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "19a":
    "yes": [ 0, 0, 0, -0.4, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "19b":
    "yes": [ 0, 0, 0, -0.2, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "19c":
    "yes": [ 0, 0, 0, -0.2, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "19d":
    "yes": [ 0, 0, 0, -0.05, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "19e":
    "yes": [ 0, 0, 0, -0.1, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "19f":
    "yes": [ 0, 0, 0, -0.02, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "19g":
    "yes": [ 0, 0, 0, -0.02, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "19h":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "20":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
    "unsure": [ 0, 0, 0, 1.02, 0 ]
  "20.1":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "21a":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "21b":
    "yes": [ 0, 0, 1.01, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "21c":
    "yes": [ 0, 0, 1.02, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "21d":
    "yes": [ 0, 0, 1.02, 1.02, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "21e":
    "yes": [ 0, 0, 1.05, 1.02, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "22a":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "22b":
    "yes": [ 0, 0, 1.01, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "22c":
    "yes": [ 0, 0, 1.02, 0, 1.02 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "22d":
    "yes": [ 0, 0, 1.02, 1.02, 1.02 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "22e":
    "yes": [ 0, 0, 1.05, 1.02, 1.02 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "23":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.05, 0 ]
  "23.1":
    "yes": [ 0, 0, 0, -0.5, 0 ]
    "no": [ 0, 0, 0, 1.5, 0 ]
    "unsure": [ 0, 0, 0, 1.05, 0 ]
  "24":
    "yes": [ 0, 0, -0.05, -0.05, 0 ]
    "no": [ 0, 0, 2.5, 1.2, 0 ]
  "25":
    "yes": [ 0, 0, -0.05, 0, 0 ]
    "no": [ 0, 0, 1.15, 0, 0 ]
    "na": [ 0, 0, 0, 0, 0 ]
  "25.1":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
    "na": [ 0, 0, 0, 0, 0 ]
  "26":
    "yes": [ 0, 0, 2.5, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "26.1":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "27a":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.1, 0 ]
  "27b":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.1, 0 ]
  "27c":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.5, 0 ]
  "27d":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.1, 0 ]
  "28":
    "protected": [ 0, 0, 0, 0, 0 ]
    "protected-a": [ 0, 0, 0, 0, 1.05 ]
    "protected-b": [ 0, 0, 0, 0, 1.1 ]
    "protected-c": [ 0, 0, 0, 0, 1.15 ]
    "classified": [ 0, 0, 0, 0, 1.02 ]
    "confidential": [ 0, 0, 0, 0, 1.05 ]
    "secret": [ 0, 0, 0, 0, 1.1 ]
    "top-secret": [ 0, 0, 0, 0, 1.15 ]
  "29":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
    "unsure": [ 0, 0, 1.05, 1.02, 0 ]
  "29.1a":
    "yes": [ 0, 0, 1.02, 0, 1.02 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "29.1b":
    "yes": [ 0, 0, 1.02, 0, 1.1 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "29.1c":
    "yes": [ 0, 0, 1.02, 0, 1.2 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "29.1d":
    "yes": [ 0, 0, 1.02, 0, 1.2 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "29.1e":
    "yes": [ 0, 0, 1.02, 0, 2 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "29.1f":
    "yes": [ 0, 0, 1.02, 0, 1.15 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "29.1g":
    "yes": [ 0, 0, 1.02, 0, 1.15 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "29.1h":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "30":
    "yes": [ 0, 0, 1.5, 0, 1.5 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "31":
    "yes": [ 0, 0, 0, 0, 1.02 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "31.1":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.05, 0 ]
    "na": [ 0, 0, 0, 0, 0 ]
  "31.2":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.05, 0 ]
    "na": [ 0, 0, 0, 0, 0 ]
  "32":
    "yes": [ 0, 0, -0.05, -0.05, 0 ]
    "no": [ 0, 0, 1.15, 1.05, 0 ]
  "33":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.02, 0 ]
  "34":
    "yes": [ 0, 0, 0, 0, 1.1 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "34.1":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.1, 0, 0 ]
  "35":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 2, 0 ]
  "36":
    "yes": [ 0, 0, 0, 2.5, 1.5 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "36.1":
    "yes": [ 0, 0, 0, -2.5, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "37":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "38":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 3, 0 ]
  "39":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 12, 0 ]
  "40":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.05, 0 ]
  "40.1":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.02, 0 ]
  "40.2":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.05, 1.05, 0 ]
  "40.3":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.02, 0 ]
  "41":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.8, 0 ]
  "42a":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.01, 0 ]
  "42b":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.05, 0, 0 ]
  "42c":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.02, 0, 0 ]
  "42d":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "42e":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.02, 0, 0 ]
  "42f":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.1, 0 ]
  "42g":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "42h":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.01, 1.02, 0 ]
  "42.1":
    "yes": [ 0, 0, 0, -0.05, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "42.2":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.05, 0 ]
  "43":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.05, 1.05, 0 ]
  "44":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.25, 0 ]
  "45":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.05, 0, 0 ]
    "na": [ 0, 0, 0, 0, 0 ]
  "46":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
    "na": [ 0, 0, 0, 0, 0 ]
  "46.1":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.25, 0, 0 ]
  "47":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.05, 0, 0 ]
  "48":
    "yes": [ 0, 0, 0, 0, 1.1 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "49":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.1, 0 ]
  "49.1":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 0, 0 ]
  "50":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 1.02, 0 ]
  "51":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 5, 0, 0, 0 ]
  "52":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 1.02, 0, 1.05 ]
  "53":
    "yes": [ 0, 0, 0, 0, 0 ]
    "no": [ 0, 0, 0, 2, 0 ]
impactLevelThresholds: [500, 1000, 2000]
progressPercentThreshold: 1
---
{% assign dataVariable = site.playbookData[page.lang] %}{%
assign dataSource = site.data[dataVariable] %}
<section>

<div class="wb-inview" data-inview="progress-overlay">
<h2>What is the Algorithmic Impact Assessment?</h2>
</div>

<p>The AIA is a questionnaire designed to help you assess and mitigate the risks associated with deploying an automated decision system. The AIA also helps identify the impact level of your automated decision system under the proposed Directive on Automated Decision-Making. The questions are focused on your business processes, your data, and your system design decisions.</p>

</section>

<section>

<h2>How does it work?</h2>

<p>The questionnaire asks you around 57 questions related to your business process, data and system designed decisions. The results will demonstrate your impact level as well as a link where you can learn about what your requirements are under the <em>Directive</em>. <strong>The questionnaire takes 35 minutes to complete.</strong></p>

</section>

<section>

<h2>Where can I find out why my system was rated a certain level?</h2>

<p>Click "Detailed Results" below and for a detailed scoresheet showing exactly where you gathered risk. You can download your results.</p>

</section>

<section>

<h2>Can I save my responses and complete the questionnaire later?</h2>

<p>Yes. You can save your spot at any time by clicking "Save progress to a file". It will download a tiny JSON file, which you can use to reload your results when you're ready to proceed. We don't save any of your information.</p>

</section>

<section>

<h2>Do you store my answers?</h2>

<p>No. We don't store your responses. Feel free to use this tool as many times as you need along the development of your system.</p>

</section>

{% include views-vues/automated-decision-automatise/aia-questionnaire-eia.html %}

{% include views-vues/automated-decision-automatise/aia-results-resultats-eia.html %}
