---
layout: default
title: Algorithmic Impact Assessment (Archived)
lang: en
altLang: fr
altLangPage: evaluation-impact-algorithmique
collectionDirectory: views-vues/automated-decision-automatise
aiaView: pre-implementation-pre-mise-en-oeuvre
---
{% assign dataVariable = site.playbookData[ page.lang ] %}{%
assign dataSource = site.data[ dataVariable ] %}{%
assign aiaDataSource = site.data[ "views-vues" ][ "automated-decision-automatise" ][ "aia-data-donnees-eia" ] %}

{% include views-vues/automated-decision-automatise/aia-intro-eia-pre-implementation-pre-mise-en-oeuvre.html %}

{% include views-vues/automated-decision-automatise/aia-questionnaire-eia-pre-implementation-pre-mise-en-oeuvre.html %}

{% include views-vues/automated-decision-automatise/aia-results-resultats-eia-pre-implementation-pre-mise-en-oeuvre.html %}
