<div id="right-cloud-questionnaire" class="wb-frmvld">
<form method="post" action="#">

<section>

<h2>{{ page.mandatorySection }}</h2>

<!-- Question 1 -->
<div id="question-1" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".sensitivity-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "1" ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-sensitivity-passed, #private-cloud-sensitivity-failed, #non-cloud-sensitivity-failed", "class": "hidden" }'>{{ page.questions[ "1-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-sensitivity-failed, #private-cloud-sensitivity-passed, #non-cloud-sensitivity-passed", "class": "hidden" }'>{{ page.questions[ "1-a2" ] }}</li>
</ul>
</div>

<!-- Question 2 -->
<div id="question-2" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".financial-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "2" ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-financial-passed, #private-cloud-financial-failed, #non-cloud-financial-failed", "class": "hidden" }'>{{ page.questions[ "2-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-financial-failed, #private-cloud-financial-passed, #non-cloud-financial-passed", "class": "hidden" }'>{{ page.questions[ "2-a2" ] }}</li>
</ul>
</div>

<!-- Question 3 -->
<div id="question-3" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".legacy-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "3" ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-legacy-passed, #private-cloud-legacy-passed, #non-cloud-legacy-failed", "class": "hidden" }'>{{ page.questions[ "3-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-legacy-failed, #private-cloud-legacy-failed, #non-cloud-legacy-passed", "class": "hidden" }'>{{ page.questions[ "3-a2" ] }}</li>
</ul>
</div>

</section>

<section>

<h2>{{ page.highlyRatedSection }}</h2>

<!-- Question 4 -->
<div id="question-4" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".commoditized-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "4" ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-commoditized-passed, #private-cloud-commoditized-failed, #non-cloud-commoditized-failed", "class": "hidden" }'>{{ page.questions[ "4-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-commoditized-failed, #private-cloud-commoditized-passed, #non-cloud-commoditized-passed", "class": "hidden" }'>{{ page.questions[ "4-a2" ] }}</li>
</ul>
</div>

<!-- Question 5 -->
<div id="question-5" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".location-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "5" ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-location-passed, #private-cloud-location-failed, #non-cloud-location-failed", "class": "hidden" }'>{{ page.questions[ "5-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-location-failed, #private-cloud-location-passed, #non-cloud-location-passed", "class": "hidden" }'>{{ page.questions[ "5-a2" ] }}</li>
</ul>
</div>

<!-- Question 6 -->
<div id="question-6" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".connectivity-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "6" ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-connectivity-passed, #private-cloud-connectivity-failed, #non-cloud-connectivity-failed", "class": "hidden" }'>{{ page.questions[ "6-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-connectivity-failed, #private-cloud-connectivity-passed, #non-cloud-connectivity-passed", "class": "hidden" }'>{{ page.questions[ "6-a2" ] }}</li>
</ul>
</div>

</section>

<section>

<h2>{{ page.ratedSection }}</h2>

<!-- Question 7 -->
<div id="question-7" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".speed-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "7" ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-speed-passed, #private-cloud-speed-failed, #non-cloud-speed-failed", "class": "hidden" }'>{{ page.questions[ "7-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-speed-failed, #private-cloud-speed-passed, #non-cloud-speed-passed", "class": "hidden" }'>{{ page.questions[ "7-a2" ] }}</li>
</ul>
</div>

<!-- Question 8 -->
<div id="question-8" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".longevity-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "8" ] }}{{ site.Colon[ page.lang ] }} {{ page.questions[ "8-sub" ] }}{{ site.Colon[ page.lang ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-longevity-passed, #private-cloud-longevity-failed, #non-cloud-longevity-failed", "class": "hidden" }'>{{ page.questions[ "8-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-longevity-passed, #private-cloud-longevity-passed, #non-cloud-longevity-passed", "class": "hidden" }'>{{ page.questions[ "8-a2" ] }}</li>
</ul>
</div>

<!-- Question 9 -->
<div id="question-9" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".elasticity-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "9" ] }}{{ site.Colon[ page.lang ] }} {{ page.questions[ "9-sub" ] }}{{ site.Colon[ page.lang ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-elasticity-passed, #private-cloud-elasticity-passed, #non-cloud-elasticity-passed", "class": "hidden" }'>{{ page.questions[ "9-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-elasticity-passed, #private-cloud-elasticity-failed, #non-cloud-elasticity-failed", "class": "hidden" }'>{{ page.questions[ "9-a2" ] }}</li>
</ul>
</div>

<!-- Question 10 -->
<div id="question-10" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".innovation-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "10" ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-innovation-passed, #private-cloud-innovation-failed, #non-cloud-innovation-failed", "class": "hidden" }'>{{ page.questions[ "10-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-innovation-failed, #private-cloud-innovation-passed, #non-cloud-innovation-failed", "class": "hidden" }'>{{ page.questions[ "10-a2" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-innovation-failed, #private-cloud-innovation-failed, #non-cloud-innovation-passed", "class": "hidden" }'>{{ page.questions[ "10-a3" ] }}</li>
</ul>
</div>

<!-- Question 11 -->
<div id="question-11" class="wb-fieldflow" data-wb-fieldflow='{ "renderas":"radio", "noForm": true, "base": { "live": true }, "default": { "action": "addClass", "source": ".devops-result > span", "class": "hidden" } }'>
<p>{{ page.questions[ "11" ] }}</p>
<ul>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-devops-passed, #private-cloud-devops-failed, #non-cloud-devops-failed", "class": "hidden" }'>{{ page.questions[ "11-a1" ] }}</li>
<li data-wb-fieldflow='{ "action": "removeClass", "source": "#public-cloud-devops-failed, #private-cloud-devops-passed, #non-cloud-devops-passed", "class": "hidden" }'>{{ page.questions[ "11-a2" ] }}</li>
</ul>
</div>

</section>

</form>
</div>
