---
layout: default
title: Assurance Level Requirement (draft)
lang: en
altLang: fr
altLangPage: nuage-outil-decisionnel
collectionDirectory: views-vues/assurance-level-requirement
version: Assessment Version 1.0
questions:
  "1": Inconvenience, distress, loss of standing or reputation
  "1-a1": An inconvenience, distress or damage to the standing or reputation of any party
  "1-a2": A serious short-term or a limited long-term inconvenience, distress or damage to the standing or reputation of any party
  "1-a3": A serious long-term inconvenience, distress or damage to the standing or reputation of any party
  "1-a4": A severe and permanent inconvenience, distress or damageto the standing or reputation of any party
  "1-hint-a1":
    • Alternatives are available with little or no delay and no additional costs or degradation of service quality &#10;
    • Minor embarrassment
  "1-hint-a2":
    • Alternatives are readily available &#10;
    • Loss of reputation or standing between the principals &#10;
    • Loss of trust or confidence between principals
  "1-hint-a3":
    • Alternatives are not readily available &#10;
    • Loss of reputation or standing beyond the principals (including third parties) &#10;
    • Loss of trust or confidence beyond the principals (including third parties)
  "1-hint-a4":
    • Alternatives are not available &#10;
    • Wide-scale permanent loss of reputation or standing &#10;
    • Wide-scale permanent loss of trust or confidence

  "2": Financial loss
  "2-a1": A financial loss
  "2-a2": A minor financial loss to any party (Note&#58; The severity of the loss depends on the impact of the loss on the affected party)
  "2-a3": A major financial loss to any party (Note&#58; The severity of the loss depends on the impact of the loss on the affected party)
  "2-a4": An extreme financial loss to any party (Note&#58; The severity of the loss depends on the impact of the loss on the affected party)
  "2-hint-a1":
    • Financial loss that has no impact on the financial standing of an individual or organization
  "2-hint-a2":
    • Financial loss that has no impact or only an insignificant material impact on the financial standing of an individual or organization &#10;
    • A budgetary impact that may require reallocation of funds but no additional financing
  "2-hint-a3":
    • Loss of a financial amount that has a significant material impact on the financial standing of an individual or organization &#10;
    • A budgetary impact that may require re-allocation of funds and additional financing
  "2-hint-a4":
    • Loss of a financial amount that severely jeopardizes the financial standing of an individual or organization &#10;
    • Financial restructuring may be required

  "3": Harm to program or to public interest
  "3-a1": An adverse effect on any government organization, program, asset or the public interest
  "3-a2": A limited adverse effect on a government organization (i.e., it can perform its primary function but with reduced effectiveness), program, organizational asset or the public interest
  "3-a3": A serious adverse effect on a government organization (i.e., it can perform its primary function with significantly reduced effectiveness), program, organizational asset or the public interest
  "3-a4": A catastrophic effect on a government organization (i.e., it is unable to perform its primary function), program, organizational asset or the public interest
  "3-hint-a1":
    • No noticeable reduction in effectiveness of a primary function of an organization &#10;
    • No compromise to a critical asset &#10;
    • No loss of public confidence
  "3-hint-a2":
    • Noticeably reduced effectiveness of a primary function of an organization &#10;
    • No compromise to a critical asset &#10;
    • Temporary loss of public confidence
  "3-hint-a3":
    • Significantly reduced effectiveness of a primary function of an organization &#10;
    • Compromise to a critical asset &#10;
    • Long-term loss of public confidence
  "3-hint-a4":
    • Unable to perform primary function of an organization &#10;
    • Major damage to or potential loss of a critical asset &#10;
    • Permanent loss of public confidence

  "4": Unauthorized release of sensitive personal or commercial information
  "4-a1": A loss of personal privacy or breach of personal or commercial information
  "4-a2": A limited adverse effect on an individual or institution due to the loss of confidentiality or breach of privacy resulting from unauthorized release or improper disclosure of sensitive personal or commercial information
  "4-a3": A serious adverse effect on an individual or institution due to the loss of confidentiality or breach of privacy resulting from unauthorized release or improper disclosure of sensitive personal or commercial information
  "4-a4": A catastrophic effect on an individual or institution due to the loss of confidentiality or breach of privacy resulting from unauthorized release or improper disclosure of sensitive personal or commercial information
  "4-hint-a1":
     • No loss of privacy &#10;
     • No increase in public scrutiny or media attention
  "4-hint-a2":
    • Loss of privacy, unwanted surveillance, tracking, monitoring, data profiling or data matching &#10;
    • Loss of confidence in the organization compromised business relationships or decreased competitive standing &#10;
    • Loss of competitive advantage
  "4-hint-a3":
    • Potential inability to fulfill legal or contractual obligations &#10;
    • Damage to business relationships requiring legal remedies
  "4-hint-a4":
    • Disruption of social order or civil unrest &#10;
    • Loss of business continuity &#10;
    • Cessation of business relationships &#10;
    • Market volatility &#10;
    • Loss of authority (e.g., due to intervention external party)

  "5": Unauthorized release of sensitive government information (non-personal information)
  "5-a1": A loss of confidentiality
  "5-a2": A limited adverse effect on organizational operations and assets due to a loss of confidentiality resulting from the release of sensitive government information to unauthorized parties
  "5-a3": A serious adverse effect on organizational operations and assets due to a loss of confidentiality resulting from the release of sensitive government information to unauthorized parties
  "5-a4": A catastrophic effect on organizational operations and assets due to a loss of confidentiality resulting from the release of sensitive government information to unauthorized parties
  "5-hint-a1":
    • No increase in public scrutiny or media attention
  "5-hint-a2":
    • Loss of public confidence &#10;
    • Increase of public scrutiny or media attention &#10;
    • Diminished program integrity
  "5-hint-a3":
    • Increased oversight (e.g., increased audits, more stringent approval processes) &#10;
    • Temporary revocation of departmental authorities &#10;
    • Compromise to critical asset
  "5-hint-a4":
    • Loss of continuity of critical government services &#10;
    • Erosion or loss of departmental authorities &#10;
    • Major damage to or potential loss of a critical asset &#10;
    • Irreversible damage to public trust

  "6": Civil or criminal violations
  "6-a2": A violation that may have minor consequences
  "6-a3": A violation that may have serious consequences
  "6-a4": A violation that may have exceptionally grave consequences
  "6-hint-a2":
    • False claims or wrongful actions having minor financial or legal implications and which pertain to the individual only &#10;
    • The violation does not ordinarily require disciplinary, investigative or enforcement action &#10;
    • The violation may result in a summary offence
  "6-hint-a3":
    • False claims or wrongful actions significant financial or legal implications and which may also pertain to third parties (e.g., trustees acting on behalf of the individual) &#10;
    • Violation could require disciplinary, investigative or enforcement action &#10;
    • The violation may result in an indictable offence (e.g., criminal offence)
  "6-hint-a4":
    • False claims or inaccurate representations in relation to services or transactions where the safety and well-being of the individual or other affected parties may be jeopardized &#10;
    • The violation requires disciplinary, investigative or enforcement action &#10;
    • The violation may result in an indictable offence of a serious nature (e.g., terrorism)

  "7": Personal health and safety
  "7-a2": A minor personal injury not requiring medical attention
  "7-a3": A personal injury requiring medical attention
  "7-a4": A serious personal injury or death
  "7-hint-a2":
    • No physical injury or psychological distress that requires treatment by first-aid personnel or health care professional
  "7-hint-a3":
    • A physical injury or psychological distress that requires treatment by first-aid personnel or health care professional
  "7-hint-a4":
    • A physical injury or psychological distress that requires an emergency response

  "8": National interest
  "8-a2": A disadvantage to the national interest
  "8-a3": An injury to the national interest
  "8-a4": A serious or exceptionally grave injury to the national interest
  "8-hint-a2":
    • Any issue that may result in a disadvantage to the national interest
  "8-hint-a3":
    • Any issue that is reasonably expected to cause injury to the national interest
  "8-hint-a4":
    • Any issue that is reasonably expected to cause serious or exceptionally grave injury to the national interest

detail:
  "1": Assessor
  "2": Program Activity, Service or Transaction
  "2a": Activity
  "3": Department
  "3b": Select a department
  "4": Date
otherLabel: If Other, please specify
other: Other

assurance:
  "1": If the program, activity, service or transaction above is compromised, it could reasonably be expected to cause NO to MINIMAL harm.
  "2": If the program, activity, service or transaction above is compromised, it could reasonably be expected to cause MINIMAL to MODERATE harm.
  "3": If the program, activity, service or transaction above is compromised, it could reasonably be expected to cause MODERATE to SERIOUS harm.
  "4": If the program, activity, service or transaction above is compromised, it could reasonably be expected to cause SERIOUS to CATASTROPHIC harm.

level: Required Level
assessment: Assessment
rationale: Rationale
potentialHarm: Potential Harm
overallAssessment: Overall Assessment

detailTitle: Details
assuranceTitle: Assurance Levels

assuranceQuestion: To determine the level of assurance required, complete the following sentence using the statements in the cells below and check the appropriate boxes
assuranceSentence: "If the program, activity, service or transaction above is compromised, it could result in…"
notApplicable: Not Applicable

afterwards: Afterwards

authentication: Authentication Option
implementation: Implementation Option
withinDepartment: Within the Department
anotherParty: Rely On Another Party

authOption:
  "1": Equal to assurance level requirement
  "1a": <ul><li>Ensure that department complies with requirements for assurance level requirement determined above</li></ul>
  "1b":
    <ul><li>Ensure that provider complies with requirements for assurance level requirement determined</li></ul>
    <p>If participant in federation&#58;</p>
    <ul><li>Ensure that member (or service provider) meets criteria established by federation to provide assurance level determined above</li></ul>
  "2": Lower than assurance level requirement
  "2a":
    <ul>
    <li>Provide rationale for selecting implementation using lower assurance level (e.g., cost, usability, mandatory service, technical feasibility)</li>
    <li>Describe potential threats and vulnerabilities that might be exploited, including breaches</li>
    <li>Describe risk mitigation measures for identity, credential and/or authentication risk</li>
    <li>Include descriptions of the following&#58; <ul>
        <li>Compensating factors</li>
        <li>Other safeguards</li>
        <li>Acceptance of risk</li>
    </ul></li>
    <li>Ensure that department complies with requirements for lower assurance level requirement determined above</li></ul>
  "2b":
    <ul>
    <li>Provide rationale for selecting provider at lower assurance level (e.g., cost, usability, mandatory service, technical feasibility)</li>
    <li>Describe potential threats and vulnerabilities that might be exploited, including breaches with the department or the provider</li>
    <li>Describe risk mitigation measures, including terms and conditions in specified in contracts or agreements with provider or federation members</li>
    <li>Include descriptions of&#58; <ul>
        <li>Compensating factors</li>
        <li>Other safeguards</li>
        <li>Acceptance of risk</li>
    </ul></li></ul>

    <p>If participant in federation&#58;</p>
    <ul>
    <li>Ensure that member (or service provider) meets criteria established by federation to provide assurance level as determined above</li>
    <li>Ensure that department understands its responsibilities for managing residual risk</li>
    </ul>
---
{% assign dataVariable = site.playbookData[page.lang] %}{%
assign dataSource = site.data[dataVariable] %}

<div class="wb-inview" data-inview="progress-overlay">
</div>
{% include views-vues/assurance-level-requirement/assurance-level-details.html %}

{% include views-vues/assurance-level-requirement/assurance-level-questionnaire.html %}

{% include views-vues/assurance-level-requirement/assurance-level-resultats.html %}

{% include views-vues/assurance-level-requirement/assurance-level-post.html %}

<!-- Sets the date for all elements with class date-current -->
<script>
  const n =  new Date();
  const y = n.getFullYear();
  const m = n.getMonth() + 1;
  const d = n.getDate();
  const dateString = y + "-" + m.toString().padStart(2, "0") + "-" + d.toString().padStart(2, "0");

  const elems = document.getElementsByClassName("date-current");
  for (let i = 0; i < elems.length; i++) {
    elems[i].setAttribute("value", dateString);
    elems[i].innerHTML = dateString;
  }
</script>
