<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{ page.lang }}" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.lang }}" dir="ltr">
<!--<![endif]-->
{% include head.html %}
<body vocab="http://schema.org/" typeof="WebPage">
{% include header.html %}
{% if page.url != site.index[page.lang] %}
  {% include filter-interface.html %}
{% endif %}
{% unless page.url contains "/views/" %}
{% include pagination.html %}
{% endunless %}
{{ content }}
{% unless page.url contains "/views/" %}
{% include pagination.html %}
{% endunless %}
{% include footer.html %}
</body>
</html>
