<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{ page.lang }}" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.lang }}" dir="ltr">
<!--<![endif]-->
{% include head.html %}
<body vocab="http://schema.org/" typeof="WebPage">
{% include header.html %}{% 
assign overviewPath = page.lang | append: "/" | append: site.overviewFile[page.lang] %}{% 
unless page.url contains overviewPath or page.url contains "compar" 
  %}{% include filter-interface.html %}{% 
endunless %}{% 
if page.url contains "/views-vues/standards-normes" %}{% 
  assign isStandardsView = true %}{%
else %}{% 
  assign isStandardsView = false %}{% 
endif %}{% 
unless page.url contains overviewPath or page.url contains "/views-vues/" and isStandardsView == false 
  %}{% include pagination.html %}{% 
endunless %}
{{ content }}
<hr />
{% include page-options.html %}{% 
unless page.url contains overviewPath or page.url contains "/views-vues/" and isStandardsView == false 
  %}{% include pagination.html %}{% 
endunless %}
{% include footer.html %}
</body>
</html>
