<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{ page.lang }}" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.lang }}" dir="ltr">
<!--<![endif]-->
{% include head.html %}
<body vocab="http://schema.org/" typeof="WebPage">
{% include header.html %}
{% unless page.url == site.index[page.lang] or page.url contains "compar" %}
  {% include filter-interface.html %}
{% endunless %}
{% unless page.url contains "/views/" or page.url contains "compar" %}
{% include pagination.html %}
{% endunless %}
{{ content }}
{% include page-options.html %}
{% unless page.url contains "/views/" or page.url contains "compar" %}
{% include pagination.html %}
{% endunless %}
{% include footer.html %}
</body>
</html>
