{% comment %}@overview Iterates through all the standards and guidelines, identifying which ones include content with certain tags{% endcomment %}{% 
comment %}@param findTags {String/Array} Comma-separated tags or an array of tags to look for{% endcomment %}{% 
comment %}@return {String} Indexes of the guidelines that have content with matching tags, in the format "2,3;;2;0,1;;;1;;2;1", 
with guideline indexes separated by commas and standards separated by semi-colons{% endcomment %}{% 
assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
assign affectedAncestors = "" %}{% 
assign standardSeparator = ";" %}{% 
assign guidelineSeparator = "," %}{% 
comment %}Check to see if include.findTags is an array. If not, convert it to an array{% endcomment %}{% 
if include.findTags.first %}{% 
  assign findTagsArray = include.findTags %}{% 
else %}{% 
  assign findTagsArray = include.findTags | replace: " ", "" | split: "," %}{% 
endif %}{% 
comment %}Loop through each of the standards in the dataset{% endcomment %}{% 
for standard in dataSource.standards.content %}{% 
  assign guidelineIndex = 0 %}{% 
  assign affectedGuidelines = "" %}{% 
  comment %}Loop through each of the guidelines in the standard{% endcomment %}{% 
  for guideline in standard.guidelines.content %}{% 
    comment %}Check the tags on the guideline and any descendant{% endcomment %}{% 
    capture matchFound %}{% 
      include /functions/find-tags.html object=guideline findTags=findTagsArray %}{% 
    endcapture %}{% 
    if matchFound contains "true" %}{% 
      if affectedGuidelines.size > 0 %}{% 
        assign affectedGuidelines = affectedGuidelines | append: guidelineSeparator %}{% 
      endif %}{% 
      assign affectedGuidelines = affectedGuidelines | append: guidelineIndex %}{% 
    endif %}{% 
    assign guidelineIndex = guidelineIndex | plus: 1 %}{% 
  endfor %}{% 
  assign affectedAncestors = affectedAncestors | append: affectedGuidelines %}{% 
  unless forloop.last %}{% 
    assign affectedAncestors = affectedAncestors | append: standardSeparator %}{% 
  endunless %}{%
endfor %}{{ affectedAncestors }}
