{% comment %}@overview Outputs filtered and ordered content from the dataset according to the specified tags{% endcomment %}{% 
comment %}@param relevantTags {String/Array} Comma-separated tags or array of tags that content must have at least one of to be displayed{% endcomment %}{% 
comment %}@param relevantSections {String/Array} Optional (defaults to all sections). Comma-separated section tags or array of section tags that sections must have at least one of to be displayed{% endcomment %}{% 
comment %}@param collapseIntroSubsections {Boolean} Optional (defaults to false). Whether or not the heading and section elements for a standard/guideline introduction sub-section (e.g., section found in an introduction content array) should be output (does not affect content within the sub-section and replaces section with a div).{% endcomment %}{% 
comment %}@param collapseContentSubsections {Boolean} Optional (defaults to false). Whether or not the heading and section elements for a standard/guideline content sub-section (e.g., section found in a content array for content such as a checklist) should be output (does not affect content within the sub-section and replaces section with a div).{% endcomment %}{% 
comment %}@param standardsListClasses {String} Optional. Classes (separated by a space) to add to the standards list.{% endcomment %}{% 
comment %}@param standardsListItemClasses {String} Optional. Classes (separated by a space)vto add to the standards list items.{% endcomment %}{% 
comment %}@param standardsLinkClasses {String} Optional. Classes (separated by a space) to add to the standards list item links.{% endcomment %}{% 
comment %}@param standardsSubLinkClasses {String} Optional. Classes (separated by a space) to add to the standards list item link content.{% endcomment %}{% 
comment %}@param guidelinesListClasses {String} Optional. Classes (separated by a space) to add to the guidelines list.{% endcomment %}{% 
comment %}@param guidelinesListItemClasses {String} Optional. Classes (separated by a space)vto add to the guidelines list items.{% endcomment %}{% 
comment %}@param guidelinesLinkClasses {String} Optional. Classes (separated by a space) to add to the guidelines list item links.{% endcomment %}{% 
comment %}@param guidelinesSubLinkClasses {String} Optional. Classes (separated by a space) to add to the guidelines list item link content.{% endcomment %}{% 
comment %}@return {String} Outputs standard and guideline content with a tag that matches at least one of relevantTags{% endcomment %}{% 
assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
comment %}Determine which standards and guidelines have content with a tag that matches include.relevantTags{% endcomment %}{% 
capture relevantStandardsGuidelines %}{% 
  include /functions/descendant-tags.html findTags=include.relevantTags %}{% 
endcapture %}{% 
assign relevantStandardsGuidelinesArray = relevantStandardsGuidelines | strip | split: ";" %}

<section>
<h2>{{ dataSource.standards.title }}</h2>

{% comment %}Output links for only the relevant standards{% endcomment %}{% 
assign standardIndex = 0 %}{% 
assign relevantStandards = "" %}{% 
assign relevantRelatedGuidelines = "" %}{% 
comment %}Create an array of indexes for the relevant standards and a separate array for filtering out related guidelines links{% endcomment %}{% 
for currentStandard in relevantStandardsGuidelinesArray %}{% 
  if currentStandard.size > 0 %}{% 
    if relevantStandards.size > 0 %}{% 
      assign relevantStandards = relevantStandards | append: "," %}{% 
    endif %}{% 
    assign relevantStandards = relevantStandards | append: standardIndex %}{% 
    assign relevantGuidelines = currentStandard | split: "," %}{% 
    comment %}Convert the guideline indexes to the "#.#" guideline number format{% endcomment %}{% 
    for relevantGuidelineIndex in relevantGuidelines %}{% 
      if relevantRelatedGuidelines.size > 0 %}{% 
        assign relevantRelatedGuidelines = relevantRelatedGuidelines | append: "," %}{% 
      endif %}{% 
      assign standardNumber = standardIndex | plus: 1 %}{% 
      assign guidelineNumber = relevantGuidelineIndex | plus: 1 %}{% 
      assign relevantRelatedGuidelines = relevantRelatedGuidelines | append: standardNumber | append: "." | append: guidelineNumber %}{% 
    endfor %}{% 
  endif %}{% 
  assign standardIndex = standardIndex | plus: 1 %}{% 
endfor %}{% 
include functions/standard-links.html samePage=true relevantStandards=relevantStandards listClasses=include.standardsListClasses listItemClasses=include.standardsListItemClasses linkClasses=include.standardsLinkClasses subLinkClasses=include.standardsSubLinkClasses %}

</section>

{% comment %}Iterate through each of the standards, only processing the standards and guidelines that have content with a tag that matches at least one of include.relevantTags{% endcomment %}{% 
assign relevantStandardIndex = 0 %}{% 
for relevantGuidelines in relevantStandardsGuidelinesArray %}{% 
  if relevantGuidelines.size > 0 %}{% 
    assign currentRelevantStandard = dataSource.standards.content[relevantStandardIndex] %}{% 
    assign relevantGuidelinesArray = relevantGuidelines | split: "," %}{% 
    include functions/output-standard.html standard=currentRelevantStandard relevantGuidelines=relevantGuidelinesArray relevantRelatedGuidelines=relevantRelatedGuidelines relevantTags=include.relevantTags relevantSections=include.relevantSections includeStandardTitle=true currentHeadingLevel=1 collapseIntroSubsections=include.collapseIntroSubsections collapseContentSubsections=include.collapseIntroSubsections guidelinesListClasses=include.guidelinesListClasses guidelinesListItemClasses=include.guidelinesListItemClasses guidelinesLinkClasses=include.guidelinesLinkClasses guidelinesSubLinkClasses=include.guidelinesSubLinkClasses %}{% 
  endif %}{% 
  assign relevantStandardIndex = relevantStandardIndex | plus: 1 %}{% 
endfor %}
