{% comment %}@overview Iterates through all the standards and guidelines, identifying which ones include content with certain tags{% endcomment %}{% 
comment %}@param object {object} Object in which to look for the tags{% endcomment %}{% 
comment %}@param findTags {Array of strings} Tags to look for{% endcomment %}{% 
comment %}@return {String} "true" is returned if a match is found{% endcomment %}{% 
assign tagFound = false %}{% 
comment %}If the object has a tags property, check it for one of the tags to look for{% endcomment %}{% 
if include.object.tags %}{% 
  capture matchFound %}{% 
    include /functions/find-array-match.html array1=include.object.tags array2=include.findTags %}{% 
  endcapture %}{% 
  if matchFound contains "true" %}{% 
    assign tagFound = true %}{% 
  endif %}{% 
endif %}{% 
comment %}If no tag match found and the object has a content property that is an array or an object then check it for the tags to look for{% endcomment %}{% 
if tagFound == false %}{%
  if include.object.content.first %}{% 
    for item in include.object.content %}{% 
      capture result %}{% 
        include /functions/find-tags.html object=item findTags=include.findTags %}{% 
      endcapture %}{% 
      if matchFound contains "true" %}{% 
        assign tagFound = true %}{% 
        break %}{% 
      endif %}{% 
    endfor %}{% 
  else %}{% 
    comment %}If content property not found then iterate through each of the object properties, checking any with a content property{% endcomment %}{% 
    for property in include.object %}{% 
      assign nestedContent = property[1].content %}{% 
      if nestedContent.first %}{% 
        for item in nestedContent %}{% 
          capture result %}{% 
            include /functions/find-tags.html object=item findTags=include.findTags %}{% 
          endcapture %}{% 
          if matchFound contains "true" %}{% 
            assign tagFound = true %}{% 
            break %}{% 
          endif %}{% 
        endfor %}{% 
      endif %}{% 
      if tagFound %}{% 
        break %}{% 
      endif %}{% 
    endfor %}{% 
  endif %}{% 
endif %}{% 
comment %}If there was a tag match, output "true"{% endcomment %}{% 
if tagFound 
  %}{{ "true" }}{% 
endif %}
