{% comment %}@overview Assesses a target array against matching requirements in the second array.{% endcomment %}{% 
comment %}@param array1 {Array} Target array{% endcomment %}{% 
comment %}@param array2 {Array} Array with comparison requirements with each entry being a requirement for a string match. Each requirement can include multiple criteria, separated by "+" (e.g., string1+string2). This means that the target array must have entries that match string1 and string2. Partial match criteria (contains) start with "~" (e.g., string1+~string2).{% endcomment %}{% 
comment %}@return {String} "true" is returned if a matching requirement was met.{% endcomment %}{% 
for fullMatch in include.array2 %}{% 
  assign numMatches = 0 %}{% 
  assign fullMatchArray = fullMatch | replace: " ", "" | split: "+" %}{% 
  for comparator in fullMatchArray %}{% 
    assign first_char = comparator | slice: 0 %}{% 
    if first_char == "~" %}{% 
      comment %}Only looking for a partial match{% endcomment %}{% 
      assign slicedLength = comparator.size | minus: 1 %}{% 
      assign partialComparator = comparator | slice: 1, slicedLength %}{% 
      for target in include.array1 %}{% 
        if target contains partialComparator %}{% 
          assign numMatches = numMatches | plus: 1 %}{% 
          break %}{% 
        endif %}{% 
      endfor %}{% 
    else %}{% 
      comment %}Looking for a full match{% endcomment %}{% 
      for target in include.array1 %}{% 
        if target == comparator %}{% 
          assign numMatches = numMatches | plus: 1 %}{% 
          break %}{% 
        endif %}{% 
      endfor %}{% 
    endif %}{% 
  endfor %}{% 
  comment %}All the criteria for the requirement were met so return "true"{% endcomment %}{% 
  if numMatches == fullMatchArray.size 
    %}{{ "true" }}{% 
    break %}{% 
  endif %}{% 
endfor %}
