{% assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
assign stringArray = true %}{% 
if include.guidelines.first %}{% 
  assign guidelinesArray = include.guidelines %}{% 
  assign arrayTest = include.guidelines.first %}{% 
  if arrayTest.first %}{% 
    assign stringArray = false %}{%
  else %}{% 
    assign guidelinesString = guidelinesArray | join: "," %}{% 
  endif %}{% 
else %}{% 
  assign guidelinesString = include.guidelines | replace: " ", "" %}{% 
  assign guidelinesArray = guidelinesString | split: ',' %}{% 
endif %}{% 
if stringArray %}
<ul data-guidelines="{{ guidelinesString }}">
{% for guideline in guidelinesArray %}{% 
    assign indexArray = guideline | split: '.' %}{% 
    assign standardIndex = indexArray[0] | minus: 1 %}{% 
    assign guidelineIndex = indexArray[1] | minus: 1 %}{% 
    assign guidelineData = dataSource.standards.content[standardIndex].guidelines.content[guidelineIndex] %}{% 
    capture guidelineId %}{% 
      include /functions/generate-id.html string=guidelineData.title %}{% 
    endcapture %}{% 
    capture classOutput %}{% 
      include /functions/class-from-tags.html excludeSectionTags=true %}{% 
    endcapture
    %}<li{{ classOutput | rstrip }}><a href="{% 
    if include.samePage != true 
      %}{{ site.standardFile[standardIndex][page.lang] }}{% 
    endif 
    %}#{{ guidelineId | strip }}">{{ guidelineData.title }}{% 
    if standardTitle.size > 0 
      %}({{ include.standardTitle }}){% 
    endif 
    %}</a></li>
{% endfor %}</ul>
{% else %}
<ul>
{% for guideline in guidelinesArray %}{% 
    capture guidelineId %}{% 
      include /functions/generate-id.html string=guideline.title %}{% 
    endcapture %}{% 
    capture classOutput %}{% 
      include /functions/class-from-tags.html excludeSectionTags=true %}{% 
    endcapture
    %}<li{{ classOutput | rstrip }}><a href="#{{ guidelineId | strip }}">{{ guideline.title }}</a></li>
{% endfor %}</ul>
{% endif %}
