{% comment %}@overview Outputs a list of links to the Standards{% endcomment %}{% 
comment %}@param guidelines {String/Array of Strings} Only used for related guidelines and cannot be used with the guidelineIndex or standardIndex params. Comma-separated strings or array of guideline numbers (e.g., 1.4) to output as links.{% endcomment %}{% 
comment %}@param guidelines {Array of Objects} Cannot be used for related guidelines and cannot be used with the guidelineIndex or standardIndex params. Array of guideline objects (e.g., standards.content.guidelines.content).{% endcomment %}{% 
comment %}@param guidelineIndexes {String/Array} Cannot be used for related guidelines or in combination with the guidelines param. Comma-separated guideline indexes or an array of guideline indexes. Must be used with standardIndex.{% endcomment %}{% 
comment %}@param standard {Number/Object} Required when guidelineIndexes is used. Provides either the index or the object for the current standard.{% endcomment %}{% 
comment %}@param samePage {Boolean} Whether or not the links should be same-page links{% endcomment %}{% 
comment %}@param includeStandardTitle {Boolean} Optional. Defaults to true. For related guidelines only. Whether or not to include the standard title in brackets at the end of the guideline link text.{% endcomment %}{% 
comment %}@param listClasses {String} Optional. Classes (separated by a space) to add to the list.{% endcomment %}{% 
comment %}@param listItemClasses {String} Optional. Classes (separated by a space)vto add to the list items.{% endcomment %}{% 
comment %}@param linkClasses {String} Optional. Classes (separated by a space) to add to the links.{% endcomment %}{% 
comment %}@param subLinkClasses {String} Optional. Classes (separated by a space) to add to the link content.{% endcomment %}{% 
comment %}@return {String} List of links to the Standards{% endcomment %}{% 
assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
comment %}Set the default list classes{% endcomment %}{% 
assign listClasses = include.listClasses %}{% 
unless listClasses.size > 0 %}{% 
  if site.defaultClasses.guidelinesListClasses.size > 0 %}{% 
    assign listClasses = site.defaultClasses.guidelinesListClasses %}{% 
  elsif site.defaultClasses.list.size > 0 %}{% 
    assign listClasses = site.defaultClasses.list %}{% 
  endif %}{% 
endunless %}{% 
comment %}Set the default list item classes{% endcomment %}{% 
if include.listItemClasses.size > 0 %}{% 
  assign listItemClasses = include.listItemClasses %}{% 
elsif site.defaultClasses.guidelinesListItem.size > 0 %}{% 
  assign listItemClasses = site.defaultClasses.guidelinesListItem %}{% 
elsif site.defaultClasses.listitem.size > 0 %}{% 
  assign listItemClasses = site.defaultClasses.listitem %}{% 
endif %}{% 
comment %}Set the default link classes{% endcomment %}{% 
if include.linkClasses.size > 0 %}{% 
  assign linkClasses = include.linkClasses %}{% 
elsif site.defaultClasses.guidelinesLinkClasses.size > 0 %}{% 
  assign linkClasses = site.defaultClasses.guidelinesLinkClasses %}{% 
endif %}{% 
comment %}Set the default sub-link classes{% endcomment %}{% 
if include.subLinkClasses.size > 0 %}{% 
  assign subLinkClasses = include.subLinkClasses %}{% 
elsif site.defaultClasses.guidelinesSubLinkClasses.size > 0 %}{% 
  assign subLinkClasses = site.defaultClasses.guidelinesSubLinkClasses %}{% 
endif %}{% 
comment %}Determine whether guidelines or related guidelines should be output{% endcomment %}{% 
assign isRelatedGuidelines = false %}{% 
if include.guidelines %}{% 
  comment %}include.guidelines was provided so use it{% endcomment %}{% 
  if include.guidelines.first.first %}{% 
    comment %}include.guidelines is an array of guideline objects (e.g., standards.content.guidelines.content){% endcomment %}{% 
    assign guidelinesArray = include.guidelines %}{% 
  elsif include.guidelines.first %}{% 
    comment %}include.guideslines is a string array so output as related guidelines{% endcomment %}{% 
    assign guidelinesArray = include.guidelines %}{% 
    assign isRelatedGuidelines = true %}{% 
  else %}{% 
    comment %}include.guidelines is a string so convert to an array and output as related guidelines{% endcomment %}{% 
    assign guidelinesArray = include.guidelines | replace: " ", "" | split: "," %}{% 
    assign isRelatedGuidelines = true %}{% 
  endif %}{%
elsif include.guidelineIndexes %}{% 
  comment %}include.guidelines not provided so use guidelineIndexes instead{% endcomment %}{% 
  if include.guidelineIndexes %}{% 
    comment %}include.guideslines is a string array so output as related guidelines{% endcomment %}{% 
    assign guidelinesArray = include.guidelineIndexes %}{% 
  else %}{% 
    comment %}include.guideslines is a string so convert to an array{% endcomment %}{% 
    assign guidelinesArray = include.guidelineIndexes | replace: " ", "" | split: "," %}{% 
  endif %}{% 
endif %}{% 
if guidelinesArray %}{% 
  if isRelatedGuidelines %}
<ul data-guidelines="{{ guidelinesArray | join: ',' }}"{% if listClasses.size > 0 %} class="{{ listClasses }}"{% endif %}>
{%  for guideline in guidelinesArray %}{% 
      assign indexArray = guideline | split: '.' %}{% 
      assign standardIndex = indexArray[0] | minus: 1 %}{% 
      assign guidelineIndex = indexArray[1] | minus: 1 %}{% 
      assign guidelineData = dataSource.standards.content[standardIndex].guidelines.content[guidelineIndex] %}{% 
      capture guidelineId %}{% 
        include /functions/generate-id.html string=guidelineData.title %}{% 
      endcapture %}{% 
      if listItemClasses.size > 0 %}{% 
        assign allClasses = listItemClasses | split: " " | concat: guidelineData.tags %}{% 
      else %}{% 
        assign allClasses = guidelineData.tags %}{% 
      endif %}{% 
      capture classOutput %}{% 
        include /functions/class-from-tags.html tags=allClasses excludeSectionTags=true %}{% 
      endcapture
      %}<li{{ classOutput | rstrip }}><a href="{% 
      if include.samePage != true 
        %}{{ site.standardFile[standardIndex][page.lang] | append: site.RenderedFileExtension }}{% 
      endif 
      %}#{{ guidelineId | strip }}"{% if linkClasses.size > 0 %} class="{{ linkClasses }}"{% endif %}>{% if subLinkClasses.size > 0 %}<span class="{{ subLinkClasses }}">{% endif %}{{ guidelineData.title }}{% 
      unless include.includeStandardTitle == false
        %} ({{ dataSource.standards.content[standardIndex].title }}){% 
      endunless 
      %}{% if subLinkClasses.size > 0 %}</span>{% endif %}</a></li>
{%  endfor %}{% 
  else %}
<ul{% if listClasses.size > 0 %} class="{{ listClasses }}"{% endif %}>
{%  for item in guidelinesArray %}{% 
      if item.first %}{% 
        comment %}item is a guideline object{% endcomment %}{% 
        assign guideline = item %}{% 
      else %}{% 
        comment %}item is a guideline index so use it to get the guideline object{% endcomment %}{% 
        assign guidelineIndex = item | plus: 0 %}{% 
        if include.standard.first %}{% 
          comment %}include.standard is a standard object{% endcomment %}{% 
          assign guideline = include.standard.guidelines.content[guidelineIndex] %}{% 
        else %}{% 
          comment %}include.standard is a standard index so use it retrieve the standard object and then the guideline object{% endcomment %}{% 
          assign standardIndex = include.standard | plus: 0 %}{% 
          assign guideline = dataSource.standards.content[standardIndex].guidelines.content[guidelineIndex] %}{% 
        endif %}{% 
      endif %}{% 
      capture guidelineId %}{% 
        include /functions/generate-id.html string=guideline.title %}{% 
      endcapture %}{% 
      if listItemClasses.size > 0 %}{% 
        assign allClasses = listItemClasses | split: " " | concat: guideline.tags %}{% 
      else %}{% 
        assign allClasses = guideline.tags %}{% 
      endif %}{% 
      capture classOutput %}{% 
        include /functions/class-from-tags.html tags=allClasses excludeSectionTags=true %}{% 
      endcapture
      %}<li{{ classOutput | rstrip }}><a href="#{{ guidelineId | strip }}"{% if linkClasses.size > 0 %} class="{{ linkClasses }}"{% endif %}>{% if subLinkClasses.size > 0 %}<span class="{{ subLinkClasses }}">{% endif %}{{ guideline.title }}{% if subLinkClasses.size > 0 %}</span>{% endif %}</a></li>
{%  endfor %}{% 
  endif %}</ul>
{% endif %}
