{% comment %}@overview Outputs the Overview section of the Digital Playbook{% endcomment %}{% 
comment %}@param samePage {Boolean} Whether or not the Overview section is on the same page as the Standards{% endcomment %}{% 
comment %}@return {String} Overview section of the Digital Playbook{% endcomment %}{% 
assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
capture classOutput %}{% 
  include /functions/class-from-tags.html tags=dataSource.introduction.tags %}{% 
endcapture %}
<section{{ classOutput | rstrip }}>

## {{ dataSource.introduction.title }}

{% include /functions/output-content-array.html contentArray=dataSource.introduction.content relevantTags="dpgn-overview-start" currHeadingLevel="2" %}

<section>

### {{ dataSource.standards.title }}
  
{% include /functions/standard-links.html samePage=include.samePage listClasses="colcount-md-2 list-unstyled" linkClasses="btn btn-default btn-lg mrgn-bttm-md" %}

</section>

{% include views.html lang=page.lang %}

{% include /functions/output-content-array.html contentArray=dataSource.introduction.content relevantTags="dpgn-overview-end" currHeadingLevel="2" %}

</section>
