{% assign prevItemType = "" %}{% 
for item in include.contentArray %}{% 
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=item.tags %}{% 
  endcapture %}{% 
  capture rawOutput %}{% 
    if item.type == 'section' %}{% 
      assign nextHeadingLevel = include.currHeadingLevel | plus: 1 %}
<section{{ classOutput | rstrip }}>
<h{{ nextHeadingLevel }}>{{ item.title }}</h{{ nextHeadingLevel }}>
{% include /functions/output-content-array.html contentArray=item.content currHeadingLevel=nextHeadingLevel %}
</section>
{%  elsif item.type == 'list' %}{% 
      if item.listtype == 'ordered' %}{% 
        assign listTag = "ol" %}{% 
      else %}{% 
        assign listTag = "ul" %}{% 
      endif %}
<{{ listTag }}{{ classOutput | rstrip }}>{% 
      capture listOutput %}{% 
        include /functions/output-content-array.html contentArray=item.content currHeadingLevel=include.currHeadingLevel %}{% 
      endcapture %}{{ listOutput | rstrip }}
</{{ listTag }}>{% elsif item.type == 'listitem' %}
<li{{ classOutput | rstrip }}><span markdown="1">{{ item.content }}</span></li>
{%  elsif item.type == 'listnested'%}
<li{{ classOutput | rstrip }}><span markdown="1">{{ item.content }}</span>{% 
      include /functions/output-content-array.html contentArray=item.nested currHeadingLevel=include.currHeadingLevel %}</li>
{%  else %}
<div{{ classOutput | rstrip }}>
</div>
{%  endif %}{% 
  endcapture %}{% 
  if item.type == 'listitem' or 'listnested' 
    %}{{ rawOutput | lstrip }}{% 
  else %}{{ rawOutput | strip }}{% 
  endif %}{% 
endfor %}
