{% assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
capture classOutput %}{% 
  include /functions/class-from-tags.html tags=dataSource.introduction.tags %}{% 
endcapture %}
<section{{ classOutput | rstrip }}>

## {{ dataSource.introduction.title }}

{% include /functions/output-content-array.html contentArray=dataSource.introduction.content currHeadingLevel="2" %}

**{{ dataSource.standards.title }}{{ site.Colon[page.lang] }}**

<ul>
{% for standard in dataSource.standards.content %}{% 
  capture standardId %}{% 
    include /functions/generate-id.html string=standard.title %}{% 
  endcapture{% 
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=standard.tags %}{% 
  endcapture 
  %}<li{{ classOutput | rstrip }}><a href="#{{ standardId | strip }}">{{ standard.title }}</a></li>{% 
endfor %}</ul>

**{{ site.ComparisonPlaybookIntro[page.lang] }}{{ site.Colon[page.lang] }}**

- [{{ site.ComparisonPlaybookTitle[page.lang] }}](https://canada-ca.github.io/digital-playbook-guide-numerique/{{ page.lang }}/{{ site.ComparisonPlaybookFile[page.lang] }}{{ site.RenderedFileExtension }})

</section>
