{% comment %}@overview Iterates over an array of content blocks, including nested content arrays, outputting the relevant content{% endcomment %}{% 
comment %}@param contentArray {Array} Array of content blocks to process.{% endcomment %}{% 
comment %}@param currHeadingLevel (Integer} Preceding heading level (i.e., heading level for the section that contentArray is contained within).{% endcomment %}{% 
comment %}@param relevantTags {String/Array} Optional (defaults to all). Comma-separated tag requirements or an array of tag requirements for which content to display. Each requirement can include multiple criteria, separated by "+" (e.g., "string1,string2+string3). This means that the target array must have an entry that either matches string1 or entries that match string2 and string 3. Partial match criteria (contains) start with "~" (e.g., string1+~string2). Can be overridden by irrelevantTags.{% endcomment %}{% 
comment %}@param irrelevantTags {String/Array} Optional (defaults to none).  Comma-separated tag requirements or an array of tag requirements for which content to filter out. Each requirement can include multiple criteria, separated by "+" (e.g., "string1,string2+string3). This means that the target array must have an entry that either matches string1 or entries that match string2 and string 3. Partial match criteria (contains) start with "~" (e.g., string1+~string2). Can be overridden by irrelevantTags.{% endcomment %}{% 
comment %}@return {String} Returns the processed output from the content array.{% endcomment %}{% 
assign currentHeadingLevel = include.currHeadingLevel %}{% 
unless itemRecursionLevel > 0 %}{% 
  assign itemRecursionLevel = 0 %}{% 
endunless %}{% 
comment %}Ensure the relevant tags are in an array{% endcomment %}{% 
if include.relevantTags.size > 0 %}{% 
  if include.relevantTags.first %}{% 
    assign relevantTagsArray = include.relevantTags %}{% 
  else %}{% 
    assign relevantTagsArray = include.relevantTags | replace: " ", "" | split: "," %}{% 
  endif %}{% 
else %}{% 
  assign relevantTagsArray = "" %}{% 
endif %}{% 
comment %}Ensure the irrelevant tags are in an array{% endcomment %}{% 
if include.irrelevantTags.size > 0 %}{% 
  if include.irrelevantTags.first %}{% 
    assign irrelevantTagsArray = include.irrelevantTags %}{% 
  else %}{% 
    assign irrelevantTagsArray = include.irrelevantTags | replace: " ", "" | split: "," %}{% 
  endif %}{% 
else %}{% 
  assign irrelevantTagsArray = "" %}{% 
endif %}{% 
for item in include.contentArray %}{% 
  comment %}Go to the next item in the content array if there is an irrelevant requirement match.{% endcomment %}{% 
  if irrelevantTagsArray.size > 0 %}{% 
    capture tagsCompareIrrelevantResult %}{% 
      include /functions/find-array-match.html array1=item.tags array2=irrelevantTagsArray %}{% 
    endcapture %}{% 
    if tagsCompareIrrelevantResult contains "true" %}{% 
      continue %}{% 
    endif %}{% 
  endif %}{% 
  comment %}Item is relevant if there is a relevant requirement match.{% endcomment %}{% 
  if relevantTagsArray.size > 0 %}{% 
    capture tagsCompareRelevantResult %}{% 
      include /functions/find-array-match.html array1=item.tags array2=relevantTagsArray %}{% 
    endcapture %}{% 
    if tagsCompareRelevantResult contains "true" %}{% 
      assign relevantItem = true %}{% 
    else %}{% 
      assign relevantItem = false %}{% 
    endif %}{% 
  else %}{% 
    assign relevantItem = true %}{% 
  endif %}{% 
  capture rawOutput %}{% 

    if item.content_type == 'section' %}{%
      comment %}Content block is a section, so output the section elements, the heading and then call this function to process the nested content array{% endcomment %}{% 
      assign nextHeadingLevel = currentHeadingLevel | plus: 1 %}{% 
      include /functions/store-data.html name="item-heading" %}{% 
      capture nestedOutputSection %}{% 
        include /functions/output-content-array.html contentArray=item.content currHeadingLevel=nextHeadingLevel relevantTags=include.relevantTags irrelevantTags=include.irrelevantTags %}{% 
      endcapture %}{% 
      include /functions/retrieve-data.html name="item-heading" %}{% 
      assign nestedOutputStrip = nestedOutputSection | strip %}{% 
      if relevantItem or nestedOutputStrip.size > 0 %}{% 
	assign source_element = item.source_element %}{% 
        if site.defaultClasses[source_element].size > 0 %}{% 
          assign allClasses = site.defaultClasses[source_element] | split: " " %}{% 
          if item.tags.size > 0 %}{% 
            assign allClasses = allClasses | concat: item.tags %}{% 
          endif %}{% 
        else %}{% 
          assign allClasses = item.tags %}{% 
        endif %}{% 
        assign sectionTag = item.source_element %}{% 
        assign nextHeadingLevel = currentHeadingLevel | plus: 1 %}{% 
        capture classOutput %}{% 
          include /functions/class-from-tags.html tags=allClasses %}{% 
        endcapture %}
<{{ sectionTag }}{{ classOutput | rstrip }}>

<h{{ nextHeadingLevel }}>{{ item.title }}</h{{ nextHeadingLevel }}>

{{ nestedOutputStrip }}

</{{ sectionTag }}>
{%    endif %}{% 

    elsif item.content_type == 'inline' %}{%  
      comment %}Is inline content, so output the content as is if it is relevant{% endcomment %}{% 
      if relevantItem 
%}{{ item.content }}{% 
      endif %}{% 
    else %}{% 
      comment %}Is a content block, so output the source element and then call this function to process the nested content{% endcomment %}{% 
      include /functions/store-data.html name="item-heading" %}{% 
      capture nestedBlockContent %}{% 
        include /functions/output-content-array.html contentArray=item.content currHeadingLevel=currentHeadingLevel relevantTags=include.relevantTags irrelevantTags=include.irrelevantTags %}{% 
      endcapture %}{% 
      include /functions/retrieve-data.html name="item-heading" %}{% 
      assign nestedBlockContentStrip = nestedBlockContent | rstrip %}{% 
      if relevantItem or nestedBlockContentStrip.size > 0 %}{% 
        if site.defaultClasses[item.source_element].size > 0 %}{% 
          assign allClasses = site.defaultClasses[item.source_element] | split: " " %}{% 
          if item.tags.size > 0 %}{% 
            assign allClasses = allClasses | concat: item.tags %}{% 
          endif %}{% 
        else %}{% 
          assign allClasses = item.tags %}{% 
        endif %}{% 
        comment %}Output all of the source attributes except for class{% endcomment %}{% 
        assign attributesOutput = "" %}{% 
        for attribute in item.source_attributes %}{% 
          assign attributeName = attribute[0] %}{% 
          assign attributeValue = attribute[1] %}{% 
          unless attributeName == "class" %}{% 
            assign attributesOutput = attributesOutput | append: ' ' | append: attributeName | append: '="' | append: attributeValue | append: '"' %}{% 
          endunless %}{% 
        endfor %}{% 
        capture classOutput %}{% 
          include /functions/class-from-tags.html tags=allClasses %}{% 
        endcapture %}
<{{ item.source_element }}{{ classOutput | rstrip }}{{ attributesOutput }}>
{{ nestedBlockContentStrip }}
</{{ item.source_element }}>
{%    endif %}{% 
    endif %}{% 
  endcapture %}{% 
  comment %}Special handling to ensure output is properly spaced (e.g., list items are on separate lines with no blank lines in between){% endcomment %}{{ rawOutput | lstrip }}{% 
endfor %}
