{% assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
if include.standard.title %}{% 
  assign standard = include.standard %}{% 
else %}{% 
  assign standardIndex = include.standard | minus: 1 %}{% 
  assign standard = dataSource.standards.content[standardIndex] %}{% 
endif %}{% 
assign standardHeadingLevel = include.currentHeadingLevel | default: 1 %}{% 
if include.includeStandardTitle %}{% 
  assign standardHeadingLevel = standardHeadingLevel | plus: 1 %}{% 
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=standard.tags %}{% 
  endcapture %}
<section{{ classOutput | rstrip }}>
{% capture headerId %}{% 
    include /functions/generate-id.html string=standard.title %}{% 
  endcapture %}
<h{{ standardHeadingLevel }} id="{{ headerId | strip }}">{{ standard.title }}</h{{ standardHeadingLevel }}>
{% endif %}{% 
assign guidelineHeadingLevel = standardHeadingLevel | plus: 1 %}{% 
assign subsectionHeadingLevel = guidelineHeadingLevel | plus: 1 %}{% 
capture classOutput %}{% 
  include /functions/class-from-tags.html tags=standard.introduction.tags %}{% 
endcapture %}
<div{{ classOutput | rstrip }}>

{% include /functions/output-content-array.html contentArray=standard.introduction.content currHeadingLevel=standardHeadingLevel %}

</div>
{% capture classOutput %}{% 
  include /functions/class-from-tags.html tags=standard.guidelines.tags %}{% 
endcapture %}
<div{{ classOutput | rstrip }}>

**{{ standard.guidelines.title }}{{ site.Colon[page.lang] }}**

{% include functions/guideline-links.html guidelines=standard.guidelines.content samePage=true %}

</div>

{% if standard.relatedguidelines.size > 0 %}{% 
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=standard.relatedguidelines.tags %}{% 
  endcapture %}
<div{{ classOutput | rstrip }}>

**{{ standard.relatedguidelines.title }}{{ site.Colon[page.lang] }}**

{% include functions/guideline-links.html guidelines=standard.relatedguidelines.content samePage=true standardTitle=standard.title %}

</div>
{% endif %}

{% for guideline in standard.guidelines.content %}{% 
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=guideline.tags %}{% 
  endcapture %}
<section{{ classOutput | rstrip }}>{% 
  capture headerId %}{% 
    include /functions/generate-id.html string=guideline.title %}{% 
  endcapture %}
<h{{ guidelineHeadingLevel }} id="{{ headerId | strip }}">{{ guideline.title }}</h{{ guidelineHeadingLevel }}>
{% capture classOutput %}{% 
    include /functions/class-from-tags.html tags=guideline.introduction.tags %}{% 
  endcapture %}
<div{{ classOutput | rstrip }}>

{% include /functions/output-content-array.html contentArray=guideline.introduction.content currHeadingLevel=guidelineHeadingLevel %}

</div>

{% if guideline.checklist.content.size > 0 %}{% 
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=guideline.checklist.tags %}{% 
  endcapture %}
<section{{ classOutput | rstrip }}>

<h{{ subsectionHeadingLevel }}>{{ guideline.checklist.title }}</h{{ subsectionHeadingLevel }}>

{% include /functions/output-content-array.html contentArray=guideline.checklist.content currHeadingLevel=subsectionHeadingLevel %}

</section>
{% endif %}

{% if guideline.guides.content.size > 0 %}{% 
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=guideline.guides.tags %}{% 
  endcapture %}
<section{{ classOutput | rstrip }}>

<h{{ subsectionHeadingLevel }}>{{ guideline.guides.title }}</h{{ subsectionHeadingLevel }}>

{% include /functions/output-content-array.html contentArray=guideline.guides.content currHeadingLevel="4" %}

</section>
{% endif %}

{% if guideline.similar.content.size > 0 %}{% 
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=guideline.similar.tags %}{% 
  endcapture %}
<section{{ classOutput | rstrip }}>

<h{{ subsectionHeadingLevel }}>{{ guideline.similar.title }}</h{{ subsectionHeadingLevel }}>

{% include /functions/output-content-array.html contentArray=guideline.similar.content currHeadingLevel="4" %}

</section>
{% endif %}

</section>

{% endfor %}
{% if include.includeStandardTitle %}
</section>
{% endif %}
