{% comment %}@overview Outputs the Overview section of the Digital Playbook{% endcomment %}{% 
comment %}@param samePage {Boolean} Whether or not the Overview section is on the same page as the Standards{% endcomment %}{% 
comment %}@param standardsListClasses {String} Optional. Classes (separated by a space) to add to the standards list.{% endcomment %}{% 
comment %}@param standardsListItemClasses {String} Optional. Classes (separated by a space)vto add to the standards list items.{% endcomment %}{% 
comment %}@param standardsLinkClasses {String} Optional. Classes (separated by a space) to add to the standards list item links.{% endcomment %}{% 
comment %}@param standardsSubLinkClasses {String} Optional. Classes (separated by a space) to add to the standards list item link content.{% endcomment %}{% comment %}@return {String} Overview section of the Digital Playbook{% endcomment %}{% 
assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
capture classOutput %}{% 
  include /functions/class-from-tags.html tags=dataSource.introduction.tags %}{% 
endcapture %}
<section{{ classOutput | rstrip }}>

## {{ dataSource.introduction.title }}

{% include /functions/output-content-array.html contentArray=dataSource.introduction.content relevantTags="dpgn-overview-start" parentHeadingLevel="2" %}

<section>

### {{ dataSource.standards.title }}
  
{% include /functions/standard-links.html samePage=include.samePage listClasses=include.standardsListClasses listItemClasses=include.standardsListItemClasses linkClasses=include.standardsLinkClasses subLinkClasses=include.standardsSubLinkClasses %}

</section>

{% include views-vues.html lang=page.lang %}

{% include /functions/output-content-array.html contentArray=dataSource.introduction.content relevantTags="dpgn-overview-end" parentHeadingLevel="2" %}

</section>
