{% comment %}@overview Outputs the content for a guideline{% endcomment %}{% 
comment %}@param guideline {Object/Number} Guideline object or the guideline index (which is used to retrieve the Guideline object){% endcomment %}{% 
comment %}@param guidelineHeadingLevel {Number} Heading level of the guideline section header.{% endcomment %}{% 
comment %}@param standard {Object/Number} Optional (required if guideline is a number). Standard object or the number (not index) of the standard (which is used to retrieve the Standard object){% endcomment %}{% 
comment %}@param relevantTags {String/Array} Optional (defaults to all). Comma-separated tags or array of tags that content must have at least one of to be displayed.{% endcomment %}{% 
comment %}@param relevantSections {String/Array} Optional (defaults to all). Comma-separated section tags or array of section tags that content must have at least one of to be displayed.{% endcomment %}{% 
comment %}@param collapseIntroSubsections {Boolean} Optional (defaults to false). Whether or not the heading and section elements for an introduction sub-section (e.g., section found in an introduction content array) should be output (does not affect content within the sub-section and replaces section with a div).{% endcomment %}{% 
comment %}@param collapseContentSubsections {Boolean} Optional (defaults to false). Whether or not the heading and section elements for a content sub-section (e.g., section found in a content array for content such as a checklist) should be output (does not affect content within the sub-section and replaces section with a div).{% endcomment %}{% 
comment %}@return {String} Outputs the content for the guideline{% endcomment %}{% 
assign dataVariable = site.playbookData[page.lang] %}{%
assign dataSource = site.data[dataVariable] %}{% 
assign subsectionHeadingLevel = include.guidelineHeadingLevel | plus: 1 %}{% 
if include.guideline.first %}{% 
  comment %}include.guideline is a guideline object{% endcomment %}{% 
  assign guideline = include.guideline %}{% 
else %}{% 
  comment %}include.guideline is a guideline index so use it to get the guideline object{% endcomment %}{% 
  assign guidelineIndex = include.guideline | plus: 0 %}{% 
  if include.standard.first %}{% 
    assign standard = include.standard %}{% 
  else %}{% 
    assign standardIndex = include.standard | minus: 1 %}{% 
    assign standard = dataSource.standards.content[standardIndex] %}{% 
  endif %}{% 
  assign guideline = include.standard.guidelines.content[guidelineIndex] %}{% 
endif %}{% 
  if include.relevantSectionsArray.size > 0 %}{% 
    capture tagsCompareResult %}{% 
      include /functions/find-array-match.html array1=guideline.tags array2=include.relevantSectionsArray %}{% 
    endcapture %}{% 
  else %}{% 
    assign tagsCompareResult="true" %}{% 
  endif %}{% 
  if tagsCompareResult contains "true" %}{% 
    capture classOutput %}{% 
      include /functions/class-from-tags.html tags=guideline.tags %}{% 
    endcapture %}
<section{{ classOutput | rstrip }}>{% 
    capture headerId %}{% 
      include /functions/generate-id.html string=guideline.title %}{% 
    endcapture %}
<h{{ include.guidelineHeadingLevel }} id="{{ headerId | strip }}">{{ guideline.title }}</h{{ include.guidelineHeadingLevel }}>

{%  for property in guideline %}{% 
      assign propertyKey = property[0] %}{% 
      assign propertyContent = property[1].content %}{% 
      if propertyKey == "introduction" %}{% 
        comment %}Output the guideline introduction{% endcomment %}{% 
        if include.relevantSectionsArray.size > 0 %}{% 
          capture tagsCompareResult %}{% 
            include /functions/find-array-match.html array1=guideline.introduction.tags array2=include.relevantSectionsArray %}{% 
          endcapture %}{% 
        else %}{% 
          assign tagsCompareResult="true" %}{% 
        endif %}{% 
        if tagsCompareResult contains "true" %}{% 
          capture sectionContent %}{% 
            include /functions/output-content-array.html contentArray=guideline.introduction.content currHeadingLevel=include.guidelineHeadingLevel relevantTags=include.relevantTags collapseSubsections=include.collapseIntroSubsections %}{%  
          endcapture %}{% 
          assign sectionContentStrip = sectionContent | strip %}{% 
          if sectionContentStrip.size > 0 %}{% 
            capture classOutput %}{% 
              include /functions/class-from-tags.html tags=guideline.introduction.tags %}{% 
            endcapture %}
<div{{ classOutput | rstrip }}>

{{ sectionContentStrip }}

</div>
{%        endif %}{% 
        endif %}{% 
      elsif propertyContent.first %}{% 
        comment %}Output the other guideline sections{% endcomment %}{% 
        assign propertyTags = property[1].tags %}{% 
        if include.relevantSectionsArray.size > 0 %}{% 
          capture tagsCompareResult %}{% 
            include /functions/find-array-match.html array1=propertyTags array2=include.relevantSectionsArray %}{% 
          endcapture %}{% 
        else %}{% 
          assign tagsCompareResult="true" %}{% 
        endif %}{% 
        if tagsCompareResult contains "true" %}{% 
          capture sectionContent %}{% 
            include /functions/output-content-array.html contentArray=propertyContent currHeadingLevel=subsectionHeadingLevel relevantTags=include.relevantTags collapseSubsections=include.collapseContentSubsections %}{%  
          endcapture %}{% 
          assign sectionContentStrip = sectionContent | strip %}{% 
          if sectionContentStrip.size > 0 %}{% 
            capture classOutput %}{% 
              include /functions/class-from-tags.html tags=propertyTags %}{% 
            endcapture %}{% 
            if propertyKey == "checklist" %}{% 
              assign glyphicon = "check text-success" %}{% 
            elsif propertyKey == "guides" %}{% 
              assign glyphicon = "book text-info" %}{% 
            elsif propertyKey == "solutions" %}{% 
              assign glyphicon = "refresh text-success" %}{% 
            elsif propertyKey == "similar" %}{% 
              assign glyphicon = "bookmark text-muted" %}{% 
            else %}{% 
              assign glyphicon = "" %}{% 
            endif %}
<section{{ classOutput | rstrip }}>

<h{{ subsectionHeadingLevel }}>{% if glyphicon.size > 0 %}<span class="glyphicon glyphicon-{{ glyphicon }}" aria-hidden="true"></span> {% endif %}{{ property[1].title }}</h{{ subsectionHeadingLevel }}>

{{ sectionContentStrip }}

</section>
{%        endif %}{% 
        endif %}{% 
      endif %}{% 
    endfor %}
</section>

{% endif %}
