{% comment %}@overview Outputs the content for a guideline.{% endcomment %}{% 
comment %}@param guidelineHeadingLevel {Number} Heading level of the guideline section header.{% endcomment %}{% 
comment %}@param standardIndex {Number} Index of the standard that is the parent of the guideline to process.{% endcomment %}{% 
comment %}@param guidelineIndex {Number} Index of the guideline to process.{% endcomment %}{% 
comment %}@param relevantTags {String/Array} Optional (defaults to all). Comma-separated tag requirements or an array of tag requirements for which content to display. Each requirement can include multiple criteria, separated by "+" (e.g., "string1,string2+string3"). This means that the target array must have an entry that either matches string1 or entries that match string2 and string3. Partial match criteria (contains) start with "~" (e.g., "string1+~string2"). Can be overridden by irrelevantTags.{% endcomment %}{% 
comment %}@param irrelevantTags {String/Array} Optional (defaults to none).  Comma-separated tag requirements or an array of tag requirements for which content to filter out. Each requirement can include multiple criteria, separated by "+" (e.g., "string1,string2+string3"). This means that the target array must have an entry that either matches string1 or entries that match string2 and string3. Partial match criteria (contains) start with "~" (e.g., "string1+~string2"). Can be overridden by irrelevantTags.{% endcomment %}{% 
comment %}@param groupByTagsTags {String/Array} Optional (defaults to none). Comma-separated tags or array of tags that will be used to group the content according to the specified tags (in the specified order). Content that matches multiple tags will be duplicated in each of the related groupings. Content that is not associated to any of the specified tags will be included in a separate grouping (to filter out content completely, use relevantTags and irrelevantTags). If groupByTagsTitles is used, then the groupings will be put in sections with the specified titles for the headings. Groupings not in sections will be put at the beginning while groupings in sections will put in the end.{% endcomment %}{% 
comment %}@param groupByTagsTitles {String/Array} Optional (defaults to none). Semi-colon-separated subsection titles or array of subsection titles. Puts the groupByTagsTags groupings in sections with headings using the subsection titles. Provide an extra title (at the end) to group everything else in a final section at the end (otherwise anything that doesn't match will be put at the start). Must have at minimum the same number of entries in the same order as groupByTagsTags. Empty entries can be used to selectively not apply sections.{% endcomment %}{% 
comment %}@param relevantSections {String/Array} Optional (defaults to all). Comma-separated section tags or array of section tags that content must have at least one of to be displayed.{% endcomment %}{% 
comment %}@param guidelineSectionsOrder {String/Array} Optional (defaults to site.guidelineSectionsOrder). Comma-separated section keys or array of section keys determining the order to display the sections (omitting a section will prevent it from being displayed).{% endcomment %}{% 
comment %}@return {String} Outputs the content for a guideline.{% endcomment %}{% 
assign dataVariable = site.playbookData[page.lang] %}{%
assign dataSource = site.data[dataVariable] %}{% 
comment %}Get the guideline object{% endcomment %}{% 
assign currentStandardIndex = include.standardIndex | plus: 0 %}{% 
assign currentGuidelineIndex = include.guidelineIndex | minus: 0 %}{% 
assign standard = dataSource.standards.content[currentStandardIndex] %}{% 
assign guideline = standard.guidelines.content[currentGuidelineIndex] %}{% 
comment %}Ensure the relevant sections are in an array{% endcomment %}{% 
if include.relevantSections.size > 0 %}{% 
  if include.relevantSections.first %}{% 
    assign relevantSectionsArray = include.relevantSections %}{% 
  else %}{% 
    assign relevantSectionsArray = include.relevantSections | replace: " ", "" | split: "," %}{% 
  endif %}{% 
endif %}{% 
comment %}Check to see if guidelines should be displayed{% endcomment %}{% 
if relevantSectionsArray.size > 0 %}{% 
  capture tagsCompareResult %}{% 
    include /functions/find-array-match.html array1=guideline.tags array2=relevantSectionsArray %}{% 
  endcapture %}{% 
else %}{% 
  assign tagsCompareResult="true" %}{% 
endif %}{% 
if tagsCompareResult contains "true" %}{% 
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=guideline.tags %}{% 
  endcapture %}
<section{{ classOutput | rstrip }}>{% 
  capture headerId %}{% 
    include /functions/generate-id.html string=guideline.title %}{% 
  endcapture %}
<h{{ include.guidelineHeadingLevel }} id="{{ headerId | strip }}">{{ guideline.title }}</h{{ include.guidelineHeadingLevel }}>

{% include /functions/output-sections.html parentHeadingLevel=include.guidelineHeadingLevel standardIndex=include.standardIndex guidelineIndex=include.guidelineIndex relevantTags=include.relevantTags irrelevantTags=include.irrelevantTags groupByTagsTags=include.groupByTagsTags groupByTagsTitles=include.groupByTagsTitles relevantSections=relevantSectionsArray guidelineSectionsOrder=include.guidelineSectionsOrder %}

</section>

{% endif %}
