{% comment %}@overview Outputs a list of links to the Standards{% endcomment %}{% 
comment %}@param samePage {Boolean} Whether or not the links should be same-page links{% endcomment %}{% 
comment %}@param relevantStandards {String/Array} Optional. Comma-separated indexes or array of indexes of the relvant standards{% endcomment %}{% 
comment %}@param listClasses {String} Optional. Classes (separated by a space) to add to the list.{% endcomment %}{% 
comment %}@param listItemClasses {String} Optional. Classes (separated by a space)vto add to the list items.{% endcomment %}{% 
comment %}@param linkClasses {String} Optional. Classes (separated by a space) to add to the links.{% endcomment %}{% 
comment %}@param subLinkClasses {String} Optional. Classes (separated by a space) to add to the link content.{% endcomment %}{% 
comment %}@param suppressListElement {Boolean} Optional (default is false). Whether or not to suppress the ul or ol element.{% endcomment %}{% 
comment %}@param appendText {String} Optional. Visible text to append to the end of each list item.{% endcomment %}{% 
comment %}@param appendHiddenText {String} Optional. Hidden text (not readable by screen readers either) to append to the end of each list item.{% endcomment %}{% 
comment %}@return {String} List of links to the Standards{% endcomment %}{% 
assign dataVariable = site.playbookData[page.lang] %}{% 
assign dataSource = site.data[dataVariable] %}{% 
comment %}Set the default list classes{% endcomment %}{% 
if include.listClasses.size > 0 %}{% 
  assign listClasses = include.listClasses %}{% 
elsif site.defaultClasses.standardsListClasses.size > 0 %}{% 
  assign listClasses = site.defaultClasses.standardsListClasses %}{% 
elsif site.defaultClasses.ul.size > 0 %}{% 
  assign listClasses = site.defaultClasses.ul %}{% 
else %}{% 
  assign listClasses = "" %}{% 
endif %}{% 
comment %}Set the default list item classes{% endcomment %}{% 
if include.listItemClasses.size > 0 %}{% 
  assign listItemClasses = include.listItemClasses %}{% 
elsif site.defaultClasses.standardsListItem.size > 0 %}{% 
  assign listItemClasses = site.defaultClasses.standardsListItem %}{% 
elsif site.defaultClasses.li.size > 0 %}{% 
  assign listItemClasses = site.defaultClasses.li %}{% 
else %}{% 
  assign listItemClasses = "" %}{% 
endif %}{% 
comment %}Set the default link classes{% endcomment %}{% 
if include.linkClasses.size > 0 %}{% 
  assign linkClasses = include.linkClasses %}{% 
elsif site.defaultClasses.standardsLinkClasses.size > 0 %}{% 
  assign linkClasses = site.defaultClasses.standardsLinkClasses %}{% 
else %}{% 
  assign linkClasses = "" %}{% 
endif %}{% 
comment %}Set the default sub-link classes{% endcomment %}{% 
if include.subLinkClasses.size > 0 %}{% 
  assign subLinkClasses = include.subLinkClasses %}{% 
elsif site.defaultClasses.standardsSubLinkClasses.size > 0 %}{% 
  assign subLinkClasses = site.defaultClasses.standardsSubLinkClasses %}{% 
else %}{% 
  assign subLinkClasses = "" %}{% 
endif %}{% 
comment %}Check if only some standards are relevant{% endcomment %}{% 
if include.relevantStandards %}{% 
  comment %}Ensure the indexes of the relevant standards are in an array{% endcomment %}{% 
  if include.relevantStandards.first %}{% 
    assign relevantStandardsArray = include.relevantStandards %}{% 
  else %}{% 
    assign relevantStandardsArray = include.relevantStandards | split: "," %}{% 
  endif %}{% 
else %}{% 
  comment %}All standards are relevant so build an array with the indexes of all of the standards{% endcomment %}{% 
  assign standardIndex = 0 %}{% 
  assign relevantStandards = "" %}{% 
  assign lastIndex = dataSource.standards.content.size | minus: 1 %}{% 
  for standardIndex in (0..lastIndex) %}{% 
    if relevantStandards.size > 0 %}{% 
      assign relevantStandards = relevantStandards | append: "," %}{% 
    endif %}{% 
    assign relevantStandards = relevantStandards | append: standardIndex %}{% 
  endfor %}{% 
  assign relevantStandardsArray = relevantStandards | split: "," %}{% 
endif %}
{% unless include.suppressListElement == true %}<ul{% if listClasses.size > 0 %} class="{{ listClasses }}"{% endif %}>
{% endunless %}{% 
comment %}Only output links for the standards with indexes in relevantStandardsArray{% endcomment %}{% 
for standardIndexString in relevantStandardsArray %}{% 
  assign standardIndex = standardIndexString | plus: 0 %}{% 
  assign standard = dataSource.standards.content[standardIndex] %}{% 
  comment %}If same page, target the section in the current page, otherwise target the destination page{% endcomment %}{% 
  if include.samePage %}{% 
    capture standardId %}{% 
      include /functions/generate-id.html string=standard.title %}{% 
    endcapture %}{% 
    assign urlOutput = standardId | strip | prepend: "#" %}{% 
  else %}{% 
    assign urlOutput = site.baseurl | append: "/views-vues/standards-normes/" | append: page.lang | append: "/" | append: site.standardFile[standardIndex][page.lang] | append: site.RenderedFileExtension %}{% 
  endif %}{% 
  comment %}Convert the tags into classes{% endcomment %}{% 
  if listItemClasses.size > 0 %}{% 
    assign tagsArray = listItemClasses | split: " " %}{% 
    if standard.tags.size > 0 %}{% 
      assign tagsArray = tagsArray | concat: standard.tags %}{% 
    endif %}{% 
  else %}{% 
    assign tagsArray = standard.tags %}{% 
  endif %}{%  
  capture classOutput %}{% 
    include /functions/class-from-tags.html tags=tagsArray excludeSectionTags=true %}{% 
    if include.listItemClasses.size > 0
      %}{{ include.listItemClasses }}{% 
    endif %}{% 
  endcapture 
  %}<li{{ classOutput | rstrip }}><a href="{{ urlOutput }}"{% if linkClasses.size > 0 %} class="{{ linkClasses }}"{% endif %}>{% if subLinkClasses.size > 0 %}<span class="{{ subLinkClasses }}">{% endif %}{{ standard.title }}{% if subLinkClasses.size > 0 %}</span>{% endif %}</a>{% if include.appendText %}{{ include.appendText }}{% endif %}{% if include.appendHiddenText %}<span class="hidden">{{ include.appendHiddenText }}</span>{% endif %}</li>
{% endfor %}{% unless include.suppressListElement == true %}</ul>{% endunless %}
